[2018-03-20 23:25] malonguwa commented on #845
same issue

[2018-03-21 11:04] vipinconqsys commented on #799
I can't understand your sample code likes
showContent
 SearchTabSingle
 (this.props.source)
SearchTabSingle

[2018-03-22 02:50] malonguwa commented on #756
@skv-headless  @brentvatne @JaxGit @sebringj @dtrukr hi guys seems like the fix is working, is that possible we could have a PR for this fix and get reviewed and released?

[2018-03-23 02:07] malonguwa commented on #770
@CircleCurve hi mate, have find a walk around for this landscape issue?

[2018-03-23 08:47] YanYuanFE commented on #856
me too

[2018-03-24 15:12] PatrikTes opened #859 "[Android] Copy/Paste not appearing in InputBox"
Hello,

I have found strange behaveiour with ScrollableTabView and InputBox inside.

1.) Any Textbox in the first tab is never displayed copy/paste dialog.
2.) On the second and other tabs it's normally working.

I have this behaveiour ONLY on Android. On iOS everything works.

Has this someone?

Thx!

[2018-03-26 01:23] wakeupmycat opened #860 "Please help me.tab blink"
![image](https://user-images.githubusercontent.com/31644475/37882605-5acbfff6-30d7-11e8-96a9-3b4be3eb6c15.png)

[2018-03-26 02:55] ZgeZh opened #861 "how can i remove the ripple effect of the TouchableNativeFeedback component on Android"
i use the defaultTabBar component  but  i dont want the  ripple effect,how can i remove it ,thanks

[2018-03-26 03:07] ZgeZh commented on #861
all right  i have finded the way
change the  Buttom.android.js  file in react-native-scrollable-tab-view of node_modules

[code]

[2018-03-26 11:56] PatrikTes commented on #859
has anyone this issue?

[2018-03-27 09:47] mengerpiao commented on #830
使用IQKeyboard

[2018-03-27 09:59] mengerpiao opened #862 "How does make LazyLoad?"
More than one Page.
  FirstPage is a webview,the otherPages is  ListView,I want to make LazyLoad when the onChangeTab
  But the ScrollTab doesn't show.
  *RN-0.50

                       <ScrollableTabView
				tabBarPosition='top'/
				tabBarUnderlineStyle={{height:2,backgroundColor:'#D8BD6B'}}
				initialPage={0}
				locked={false}
				renderTabBar={() => <ScrollableTabBar />}
				tabBarUnderline

[2018-03-28 04:53] wakeupmycat commented on #860
！！！！

[2018-03-28 06:45] 122687220 commented on #856
Same question

[2018-03-28 22:57] seanquinn commented on #736
@hanxk how did you fix this? I tried adding RCTAnimation to the project, however I think it's an issue with this package.

[2018-03-29 09:53] ggepenyan commented on #574
Why there is no reply

[2018-03-29 09:53] ggepenyan commented on #574
it is actually a **bug** that needs to be fixed ((

[2018-03-29 11:02] ggepenyan commented on #826
Any help please

[2018-03-29 11:03] ggepenyan commented on #826
I'm unable to change tab item width if I'm using **ScrollableTabBar**

[2018-03-29 23:47] DoWhileGeek commented on #642
I'm experiencing @rknell's issue, given @christianchown's solution. Has there been any headway on this issue?

[2018-03-30 02:47] wakeupmycat commented on #860
please help me

[2018-03-31 13:07] yuanshenbin opened #863 "Dynamic loading of data"
Hello, bothered, bothered, at present a very annoying problem, ScrollableTabView inside data, network access, tabbar ScrollableTabBar, network load good data, sometimes can appear, can not slide, data all squeezed in a row, sometimes normal, I use tabShow to control render, is also no effect, excuse me, is there a way to solve it, excuse me, thank you, thank you, thank you, thank you

  <Scrollabl

[2018-04-02 00:57] linus87 opened #864 "Tab content don"
In below structure, the embedded tab don't display.
`<scrollable-tab-view>
  <scrollable-tab-view tabbarPosition="top">
  </scrollable-tab-view>
</scrollable-tab-view>`

[2018-04-02 18:55] gmaggio commented on #672
The suggested `this.props.scrollValue.__getValue()` seems to fix the problem. Just wondering but why isn't it implemented yet?

[2018-04-03 12:21] mehdijjz commented on #346
I'm having the same issue

[2018-04-03 21:10] QwerTech opened #865 "Demo is broken"
![image](https://user-images.githubusercontent.com/5159817/38276038-7a60c77c-379c-11e8-9649-8003b2211fe4.png)

![image](https://user-images.githubusercontent.com/5159817/38276097-9a7cc40c-379c-11e8-80db-2236d0a80c29.png)

[2018-04-04 12:15] ada2603 opened #866 "Heigh TabView can not reset when change tab if using with ScrollView"
Hi all,
I am using scrollable tab view with scrollview. I have 2 tab.  tab 1 is higher tab 2 when i change tab from tab 1 to tab 2.  Height of tab 2 doesn't reset
<ScrollView style={{flex: 1}}>

    <ScrollalbeTabView>
        <View tabLabel="TAB1>
              <Text>TAB1</Text>
         </View>
         <View tabLabel="TAB2>
              <Text>TAB2</Text>
         </View>
    </ScrollalbeTabVie

[2018-04-05 15:06] matthieugayon commented on #756
this worked better for me, no timeout hack :

`
getInitialState() {
    // HACK
    this.startup = true

    this._tabsMeasurements = []
    return {
      _leftTabUnderline: new Animated.Value(0),
      _widthTabUnderline: new Animated.Value(0),
      _containerWidth: null,
    }
  },

...

measureTab(page, event) {
    const { x, width, height, } = event.nativeEvent.layout
    this._tabsMeasurem

[2018-04-08 05:38] jkuwait commented on #653
+1

[2018-04-08 10:54] troyz opened #867 "componentWillReceiveProps is deprecated and will be removed in the next major version."
Hi,

Thanks for your library, now there is a warning message in the console, the [blog address](https://reactjs.org/blog/2018/03/27/update-on-async-rendering.html)

[2018-04-09 16:38] EJohnF commented on #346
on RN 0.54, lib 0.8.0
but it happens randomly, sometimes content shows, then - no
While conten render is called (checked via console.log)

[2018-04-10 03:50] JaxGit commented on #857
@malonguwa @lerpo do you guys have issues with the static/scrollable tab control itself, or with the contents inside any tab?
I don't have problems with the former case.
However I do have problems with the latter shows in [this gist](https://gist.github.com/JaxGit/7f3f4f84f9db53c35ad1f259d1aaf206) :
Touchable onPress does not response: when coexists with a FlatList under the same Tab of react-nati

[2018-04-10 08:51] mrifni opened #868 "is this repo still maintained?"
I can see the last commit was in last year October. And still, there are lots of issues reported and PRs waiting to be merged.

Is this repo still maintained? if not please add a note in the readme file.

[2018-04-10 11:11] JaxGit commented on #857
@malonguwa After I tried using onPressIn or onPressOut instead of onPress as you mentioned, it works for my gist example (SimpleExample or even ScrollableTabsExample) and production code. It doesn't freeze any thing at all (tab control or tab contents).

Don't know what issue you have met, but thank you mate 👍

[2018-04-11 10:37] cxmmxc opened #869 "I am newer to use reactnative,run-android but not run"
in Example dir, I use npm  install, but not generate the node_modules.
in your Readme.md, run example the picture  link is not valid;

[2018-04-11 14:43] karimkhamwani opened #870 "tabBarActiveTextColor is changing too slowly."
when you swipe to next tab. if i click tab than textcolor is fine but when swiping to next tab its take time to change color until tab gets active any solution ?

[2018-04-11 16:27] fqr1 commented on #126
@Dictory
It worked like a charm

Just one thing, in this section:

`handleChangeScreen = () => {
  this.pageIndex = i; // save local too
  this.props.dispatch(saveCurrentTabToRedux(i));
}`

the variable "i" is not mentioned where it comes from, should be

`handleChangeScreen = ({i}) => {
  this.pageIndex = i; // save local too
  this.props.dispatch(saveCurrentTabToRedux(i));
}`

[2018-04-12 02:57] #869 closed

[2018-04-12 03:01] cxmmxc opened #871 "development server returned response error code:404"
![image](https://user-images.githubusercontent.com/7569652/38654180-9915b93e-3e40-11e8-91c1-cced3721b9fd.png)

react-native-cli : 2.0.1
react-native: 0.55.2

[2018-04-12 06:10] wakeupmycat commented on #860
??

[2018-04-13 02:35] malonguwa commented on #857
@JaxGit Thanks for the info, but once you using usch as onPressIn, does it will triger the click event but ignore t

[2018-04-13 02:40] malonguwa commented on #770
@skv-headless Could you mind to explain little more why you refer this issue to https://github.com/skv-headless/react-native-scrollable-tab-view/issues/750
? Is there a way to fix this landscape layout issue?

[2018-04-13 20:09] kubilaytural commented on #684
Thank u shuse2. I worked for me.

[2018-04-14 00:01] malonguwa commented on #868
@skv-headless

[2018-04-17 11:54] RobertOConnorMM commented on #415
+5

[2018-04-18 02:35] dingyq opened #872 "[IMPORTANT] The style assign to ScrollableTabBar && DefaultTabBar don't take effect of v0.8.0"
As the title said：

`renderTabBar={() => <ScrollableTabBar style={{height:30, borderWidth: 0, borderColor: '#f00'}} tabStyle={{height: 30, backgroundColor:'#fff'}} tabsContainerStyle={{height:30}} backgroundColor='rgba(255, 255, 255, 1)'></ScrollableTabBar>}`

The style `height/borderWidth/borderColor` doesn't take effect.
 Anybody encounter the same issue?

[2018-04-18 05:58] Balasnest opened #873 "OnChangeTab is called twice in iOS"
I am getting weird issue in iOS. When I click any of the tab, OnChangeTab is getting called twice. In Android, its calling only once.

Version: **0.8.0**

[2018-04-18 22:01] syzer commented on #762
@Balasnest did you try @kubilaytural solution or|and using `prerenderingSiblingsNumber={1}` ?

[2018-04-19 04:01] fortunelly opened #874 "the try to resolve ListView or ScrollView outsider of react-native-scrollable-tab-view(Android)"
First: we can add a accurate height to ListView or ScrollView.
 Second: wo can modifying the source code(index.js). In the 'renderScrollableContent' method, we can only return Animated.ScrollView to replace AnimatedViewPagerAndroid. if you use AnimatedViewPagerAndroid, you can't load the data for react-native-scrollable-tab-view. If you only use Animated.ScrollView, the data will load success. I d

[2018-04-20 00:33] wanghz2 commented on #672
@skv-headless we are expecting you have plan checkin the fix into v0.8.next release, to avoid we re-package or find not ideal workaround from caller side.

[2018-04-20 02:55] #874 closed

[2018-04-20 06:27] Balasnest commented on #762
@syzer Most of the time data is not loading. Very rarely its working out. I guess settimeout is not working exactly. How can resolve this?

[2018-04-20 12:53] bitting304 commented on #845
same issue..

[2018-04-20 15:36] syzer commented on #762
have you tried using react timing functions?
or does bigger timeout help ? if so you could patch it

to be honest i'm not sure how i patched it 😄 it was august last year or so :)

you could also try this replacement:
https://www.npmjs.com/package/react-native-scrollable-tab-view-fix

[2018-04-21 21:55] kubilaytural commented on #839
@fpauer Thank's. I works for me!

[2018-04-22 07:52] #328 closed

[2018-04-23 03:57] ptaking commented on #714
@Shu-Ji did you find a workaround?

[2018-04-23 05:38] Shu-Ji commented on #714
@ptaking No, I give up React Native and head to native development.....

[2018-04-24 03:18] azhengyongqin opened #876 "How can I get rid of the following lines, thank you?"
### How can I get rid of the following lines, thank you?

![pmf_ cp fw_ fzvfea09j2](https://user-images.githubusercontent.com/18138282/39164275-30b6cad4-47b1-11e8-8dd9-52ec2c73bce1.png)

[2018-04-24 03:29] Fengtianhe opened #877 "android not show tab"
Code
![image](https://user-images.githubusercontent.com/15321902/39164523-77ee7914-47b2-11e8-94e9-b3be966579cd.png)
IOS
![image](https://user-images.githubusercontent.com/15321902/39164544-8a063e8e-47b2-11e8-851d-a8001dd411af.png)
Android
![11524540545_ pic](https://user-images.githubusercontent.com/15321902/39164596-ba5e706a-47b2-11e8-9162-5537a1221117.jpg)

[2018-04-25 06:46] jamessawyer commented on #845
+1 same issue.When this problem will be solved?

[2018-04-25 06:47] wakeupmycat commented on #860
no man help me??

[2018-04-25 12:00] RoarRain opened #879 "<ScrollableTabBar> when clicked a tab underline can't move on Redmi5 phone."
ScrollableTabBar underline,  Huawei is work but Redmi5 not work.   i see the function "updateView" not work.

[2018-04-26 18:12] j-schuster commented on #854
@shafips @SwitchDestiny Have you guys been able to find a solution this?

[2018-04-27 01:24] SwitchDestiny commented on #854
@j-schuster @shafips
I've solved this problem

![qq 20180427091402](https://user-images.githubusercontent.com/25134250/39339503-b1637294-49fb-11e8-8315-bf86c1cad875.png)

In this page，I have a ListView 。I set the background color for the Listview, so that led to this problem.

[2018-04-28 07:24] karimkhamwani opened #880 "dynamic flatlist inside tabview"
<ScrollableTabView
                    initialPage={0}
                    tabBarBackgroundColor="white"
                    // tabBarUnderlineStyle={{borderBottomColor: 'aqua'}}
                    tabBarActiveTextColor="#1CAADE"
                    tabBarUnderlineStyle={{ backgroundColor: '#1CAADE', borderColor: '#1CAADE', borderBottomWidth: 0.1, borderBottomColor: '#1CAADE' }}

[2018-04-28 07:55] karimkhamwani commented on #655
+1

[2018-04-29 23:33] harrydema commented on #839
@fpauer Can you please show the full class? As my event is not fired. I am passing the navigator through props to the child screens.

[2018-05-03 09:28] mengerzhuanyong opened #881 "将该组件嵌套在ScrollView里在安卓上无法显示"
<---ScrollView>
    .... // other code
    <ScrollableTabView
        initialPage={0}
        tabBarInactiveTextColor = "#999"
        style = {GlobalStyles.scrollTabBarNav}
        renderTabBar = { () => <ScrollableTabBar />}
        tabBarActiveTextColor = {GlobalStyles.themeColor}
        tabBarUnderlineStyle = {GlobalStyles.tabBarUnderline}

        <LivingTabView tabLabel={'全部'} {...this.prop

[2018-05-07 02:39] marlti7 commented on #541
+1

[2018-05-07 03:08] marlti7 commented on #541
you can fixed it in parent component add prop refreshControl and delete child component prop refreshControl

[2018-05-07 08:33] qq326646683 opened #882 "[Android]tab fontColor become shallow"
![default](https://user-images.githubusercontent.com/15717688/39692770-5f4efbd8-5214-11e8-870a-0fad498a5143.png)

[2018-05-07 19:56] chris-bytelion commented on #415
Still waiting

[2018-05-08 04:02] skylingfly commented on #872
same issue+1  ,and have you get some solutions?

[2018-05-08 04:50] skylingfly commented on #876
try to modify the source code directly

[2018-05-08 04:51] skylingfly commented on #860
@wakeupmycat any update?

[2018-05-08 06:43] zhengxuanyi opened #883 "最新版的0.8.0，RefreshControl和scrollable-tab-view滑动冲突？请问怎么解决？"

[2018-05-08 12:39] GuoAxiang commented on #882
因为源码里用的是button：
`  renderTab(name, page, isTabActive, onPressHandler) {
    const { activeTextColor, inactiveTextColor, textStyle, } = this.props;
    const textColor = isTabActive ? activeTextColor : inactiveTextColor;
    const fontWeight = isTabActive ? 'bold' : 'normal';

    return <Button
      style={{flex: 1, }}
      key={name}
      accessible={true}
      accessibilityLabel={name}

[2018-05-08 12:41] GuoAxiang commented on #876
给DefaultTabBar添加
`style={
                            {
                                borderWidth: 0
                            }
                        }`

[2018-05-08 12:43] GuoAxiang commented on #872
@skylingfly 我的是生效的，你能把代码贴一下吗

[2018-05-08 12:44] GuoAxiang commented on #855
flex:0 然后设置高度

[2018-05-08 14:38] qq326646683 commented on #882
我自定义的tabbar，没用到button，还是有同样bug @GuoAxiang

[2018-05-09 02:11] stuartPounds commented on #879
I have the same problem in MInote

[2018-05-09 08:53] marlti7 commented on #883
RefreshControl 写在父级

[2018-05-10 07:54] tangshenghao commented on #863
try this -> #362

in ScrollableTabBar.js add
`componentWillReceiveProps(nextProps) {
    // If the tabs change, force the width of the tabs container to be recalculated
    if (JSON.stringify(this.props.tabs) != JSON.stringify(nextProps.tabs) && this.state._containerWidth) {
      this.setState({ _containerWidth: null, });
    }
},`

[2018-05-11 00:42] z5829984520 commented on #881
我也遇到了这个问题，解决方法是在父级元素设定一个高度就会显示了，但是不太好，有没有别的解决方式

[2018-05-11 02:59] phumaster commented on #541
@marlti7  you can give me more information? Or code? Please.

[2018-05-11 09:05] dingyq commented on #872
@skylingfly No so far, Now I must to modify the source code manual to fix it, and make it seem normally

[2018-05-11 09:10] dingyq commented on #872
@GuoAxiang

[code]

这样就不生效，height/borderWidth/borderColor都没用

[2018-05-12 15:43] krtr opened #884 "Is this project dead?"
It looks like that not much is going on for a while

[2018-05-12 15:44] #884 closed

[2018-05-12 15:45] krtr commented on #884
#868

[2018-05-14 17:05] NextVictim commented on #828
I also have the same problem , when I set 'ScrollableTabView' into ‘ScrollView’ then it does't work at Android , but run in ios is ok.

[2018-05-15 04:52] 422053362 commented on #818
same question .

this.refs.scrollableTabView.goToPage(index)
not re-render the scrollview，but if i click the tab，it can re-render

[2018-05-15 16:31] Nikoghosyankaren opened #886 "Tab Header not scrolled when setting initialPage"
When setting initialPage prog for example to last element of tab and it is scrollable tab it is not scrolling to active tab in header, below it is showing correct view but int top not.

It is showing as active but not in visible view.

You can use this example, make tabs quantity more and set initialPage={6}
https://github.com/skv-headless/react-native-scrollable-tab-view/blob/master/Example/Scrol

[2018-05-16 02:28] inoutw commented on #541
I encounter the same issue while using ScrollView for both ios and android, Now I changed it to ViewPagerAndroid for Android, the issue was gone.

[2018-05-16 15:40] dammy95 commented on #794
Hey! I am still having this problem unfortunately - I am currently using `react-native-scrollable-tab-view": "=0.8.0"`. Came across this issue while searching for a solution. It seems the solution that @kubilaytural suggested still has not been updated in npm? Is it possible if we can push for this ASAP?

[2018-05-18 07:07] rvinay032 opened #887 "how to get tab title in centre?"
want to get followers title tab in centre.

![image](https://user-images.githubusercontent.com/30623154/40220846-317fd57e-5a98-11e8-8628-95c4dd0adfa6.png)

[2018-05-20 17:56] feluxz commented on #670
I have the same problem with a normal scrollview. Does anyone know how to fix this?

[2018-05-21 08:03] orcunorcun commented on #866
+1

[2018-05-21 08:04] orcunorcun commented on #855
@GuoAxiang can you give more detail or example?

[2018-05-21 08:19] GuoAxiang commented on #855
@orcunorcun `renderTabBar={() => <WalletDetailBar
                        tabStyle={{ paddingBottom: 0 }}
                        textStyle={{ fontSize: 32 }}
                        backgroundColor={'#24252F'}
                        style={
                            {
                                borderWidth: 1, borderColor: ‘white', height: 96
                            }

[2018-05-21 10:25] theRedster commented on #346
Also having same issue as EJohnF in my wierd case, logging out of app and logging back in fixes it until the emulator is reloaded.

[2018-05-21 11:28] Murtaza09 opened #888 "OnChangeTab Issue"
When the "Remote JS Debugging" is enabled application respond correctly but when bundled and disables the "Remote JS Debugging OnChangeTab Does not respond and application got crashed.

[2018-05-21 15:27] igez commented on #642
+1

experiencing @rknell's problem as well

[2018-05-22 05:35] mashangfeng commented on #756
I still don't understand it

[2018-05-24 11:47] dammy95 commented on #642
+1 Also experiencing @rknell's problem

[2018-05-24 12:07] JackuyLiu commented on #107
what's the fucking reason,this issue keep existing for 3 years?

[2018-05-25 09:17] GuoYingxu commented on #888
Got the same problems!

[2018-05-26 03:00] YanYuanFE opened #889 "设置initialPage的问题"
当tab数量过多的时候，设置initialPage为很大的一个（超出屏幕），initialPage对应的tabbar没有在屏幕居中显示，如下：
![1527303001024](https://user-images.githubusercontent.com/17774285/40571844-a6f3564c-60d2-11e8-8d50-fe6f3fff9bbc.jpg)
 此处我设置的initialPage为7，上面的tabbar一共有15个，当前的tabbar就超出屏幕了，希望能得到下面的效果。
![1527302994609](https://user-images.githubusercontent.com/17774285/40571910-d58ed872-60d3-11e8-859a-3b13ff9ed346.jpg)

[2018-05-26 03:01] YanYuanFE commented on #889
`
<ScrollableTabView
                    initialPage={7}
                    tabBarUnderlineStyle={{backgroundColor: '#FFF', height: 0}}
                    tabBarBackgroundColor={'#3F99F7'}
                    renderTabBar={() =>
                        <ScrollableTabBar
                            renderTab={this.renderTab}
                            style={{height: getDip(44), borderWidth: 0}}

[2018-05-26 03:02] YanYuanFE commented on #889
`
renderTab = (name, page, isTabActive, onPressHandler, onLayoutHandler) => {
        const time = moment(name).format('M.DD');
        const weekdays = {
            "Sunday": '周日',
            "Monday": '周一',
            "Tuesday": '周二',
            "Wednesday": '周三',
            "Thursday": '周四',
            "Friday": '周五',
            "Saturday": '周六'
        };
        const week = moment(nam

[2018-05-28 14:49] jakabjack opened #890 "JSX element type 'ScrollableTabView' does not have any construct or call signatures."
using library with typescript.
import * as ScrollableTabView from 'react-native-scrollable-tab-view';

<ScrollableTabView /> will yield the error message from typescript:
JSX element type 'ScrollableTabView' does not have any construct or call signatures.

[2018-05-28 15:35] jakabjack commented on #852
import * as ScrollableTabView   from 'react-native-scrollable-tab-view'; will result in typescript compilation error: JSX element type 'ScrollableTabView' does not have any construct or call signatures.

[2018-05-29 13:10] pvinis commented on #868
more importantly, is there an active fork?

[2018-05-29 22:02] luis080791 commented on #544
Thanks David! It works nice !

[2018-05-31 08:37] omi10859 opened #891 "None of the Example links are working"
Example links are not working in Readme.md file here nor https://www.npmjs.com/package/react-native-scrollable-tab-view here. :)

[2018-06-01 06:15] stupidWall commented on #873
I also have this problem, so how to solve?

[2018-06-01 09:38] Just013 commented on #845
1.open the resource code ScrollableTabBar.js
2.find line 150 && line 212 && line 217 :
3.change this -----code this.props.scrollValue._value  -> this.props.scrollValue.__getValue()
4.i,m Chinese boy Coder Li . no thanks.

[2018-06-01 10:39] stupidWall commented on #873
I solve this problem.

[2018-06-03 14:19] Yinetsrl opened #892 "新版0.8 与scrollview flatlist 冲突"
最新版本冲突， 给ScrollableTabView 高度会显示， 但是flatlist上拉就没有效果了。 请问应该要怎么样才能解决。
`<ScrollView style={{flex:1}}>
                <Animated.View  style={[styles.sweeperContainer,
                    {
                        transform: [{
                            translateY: searchY
                        }]
                    }
                ]}>
                    <Swiper
                    autoplay={t

[2018-06-05 02:13] dogbutcat commented on #756
@matthieugayon Thank you for providing good solution, but I found it's still not a secure way to work, cuz this red box turned out

![ladpbbcc1dht3wvnbd7naqy_678_1086 jpg_620x10000q90g](https://user-images.githubusercontent.com/8625449/40950977-a9e31bee-68a7-11e8-9d01-08cb9ca0fb05.jpg)

when I log the ```_tabsMeasurements```, it goes out such a wired array ```[null,{"left":111.5,"right":194.5,"wid

[2018-06-05 07:25] xx-dr opened #893 "第一次加载下划线不显示"
第一次加载下划线不显示，设置tabBarUnderlineStyle也不行，滑动或者点击其他后就可以了，只有第一次加载时不显示，这是什么原因？

[2018-06-06 09:01] tranvannhat commented on #833
+1

[2018-06-06 09:46] MatheusParanhos opened #894 "How would I change a size of an icon when it's being changed?"
Hi all, has anyone needed to change it's style when user is swiping?
I don't know where to start, I want to pleasantly change an icon's size when user is swiping.
Has anyone crossed this and has any code snippets to share? thanks ^^

[2018-06-07 07:42] ParkourH commented on #893
我也是, 只能先用DefaultTabBar渲染,

[2018-06-11 08:04] AndyCrisan opened #895 "<ANDROID> Views within tabs are not being rendered"
After I change height of a view(parent or child) on hotLive Reload, the tabs are being rendered. PS all the views have dimensions established in style(either with flex either with height and width )

HERE IS MY CODE

       <View style={{height:GLOBALS.HEIGHT*0.61,width:GLOBALS.WIDTH}}>
                        <ScrollableTabView
                            tabBarActiveTextColor={"black"}

[2018-06-12 01:56] zzq18705510289 commented on #893
me too，has anyone fixed?

[2018-06-12 07:58] afresh commented on #881
我遇到了相同的问题。
I have the same problem.

[2018-06-12 07:58] afresh commented on #892
我遇到了相同的问题。
I have the same problem.

[2018-06-12 08:00] afresh commented on #874
我遇到了相同的问题。请问你是怎么解决的？
I have the same problem. How do you solve it, please?

[2018-06-12 10:40] Versus2017 commented on #893
me too, it is a bug, and hope that it can be fixed

[2018-06-12 10:48] Versus2017 commented on #838
though the page goes as I expect. the tab indicator still got problem, it always scroll to a wrong tab, or not scroll. is this project still maintained?

[2018-06-13 10:20] jainhitesh90 commented on #146
It's still the same prob on Release version

React version 0.55.2

[2018-06-13 12:55] mananjobanputra commented on #895
I also face this problem now. how do you solve it?

[2018-06-13 18:46] samuelmataraso commented on #895
i have the same issue, how do you solve it?²

[2018-06-13 21:42] lichao2018 commented on #776
how to fix this.
gotoPage cannot re-render.

[2018-06-14 12:22] GowthamGr commented on #814
me too same issue

[2018-06-15 07:19] xx-dr commented on #893
@Edwardelric 这样虽然会显示第一个，但是左右滑动的时候，会出现下划线始终在第一个位置上的问题，实际上是已经切换了的，但下划线没有正确的显示

[2018-06-15 07:20] xx-dr commented on #893
@ParkourH 如果要显示多个tab的时候，DefaultTabBar满足不了需求

[2018-06-18 10:47] krishnamanieee opened #896 "how to re render react-native-scrollable-tab-view manually"
I need to re-render all tab at the time from user action can you help me ....?

[2018-06-18 10:51] krishnamanieee commented on #895
can make clear explain

[2018-06-20 03:21] callcter commented on #828
if ScrollableTabView was nested in a ScrollView, you should add contentContainerStyle={{ flex: 1 }} to ScrollView. from [stackoverflow question](https://stackoverflow.com/questions/36014191/viewpagerandroid-is-not-rendered-under-scrollview-using-react-native/44300630#44300630)

[2018-06-20 09:02] prayuditb commented on #777
just update to version 0.8.0 with `yarn add react-native-scrollable-tab-view@0.8.0`

[2018-06-21 09:19] Akatsukishen commented on #634
it works for me while react-native version is 0.40.0.

[2018-06-21 09:32] pwsses commented on #888
Got the same problems!

[2018-06-21 09:39] yurnery commented on #770
@malonguwa @skv-headless @CircleCurve could you tell me how to solve this problem more clear? the issue #750 this not the same as this problem at all

[2018-06-21 14:16] eduarifrahmanhakim commented on #563
@yantakus how u can closing the issue? I face the issue and not yet solved

[2018-06-22 06:27] sclcoder commented on #893
https://github.com/skv-headless/react-native-scrollable-tab-view/pull/832

[2018-06-22 07:18] nevin22 opened #897 "<ANDROID> Reference to another scrollView inside second tab is null when calling onMomentumScrollEndProp or OnscrollEnd prop"
I got 2 tabs, I'm trying to level the scroll values of each tab by calling scrollTo onMomentumScrollEnd or onScrollEndDrag , it works well on ios, but on android, sometimes the reference to the second tab is null. I already used **prerenderingSiblingsNumber** but it's still throwing an reference error sometimes on android.

[2018-06-22 11:58] ujjwalagrawal17 commented on #880
Do you find any solution to this ??

[2018-06-25 07:59] Edwardelric commented on #895
I don't want to set a const height, other ways can resolve it ?

[2018-06-27 01:43] HeyuanXie opened #898 "修改underLine的宽度，怎么让underline居中，或者让underline适应对应labeltext宽度"
![simulator screen shot - iphone 6 - 2018-06-27 at 09 40 46](https://user-images.githubusercontent.com/17609759/41948279-8ebd997c-79ee-11e8-9366-8014e85bda94.png)

[2018-06-27 03:09] chulinyin commented on #724
@laclys Thanks, your method really works. In addition,  when you apply tabViewStyle's height to ScrollableTabView' style, you should **plus tabBar's height**. And in my practice, you can apply it to contentProps directly. like the following code:
[code]

[2018-06-27 03:11] chulinyin commented on #415
@laclys Thanks, your method really works. In addition,  when you apply tabViewStyle's height to ScrollableTabView' style, you should **plus tabBar's height**. And in my practice, you can apply it to contentProps directly. like the following code:
[code]

[2018-06-27 06:40] leoyb commented on #385
@bondanherumurti Can you share your custom component?

[2018-06-27 06:55] chulinyin commented on #743
hello @manjeets12 , could you please share your cutomTabBar.js completely ?

[2018-06-27 07:35] chulinyin commented on #743
hello, @manjeets12 , thanks for your method. But I find an error, in the end of function, you should set _widthTabUnderline with tempWidth, as the following  code:
[code]

[2018-06-27 08:08] Binhluan1234 commented on #866
i have a same problem, can someone help me fix it ?

[2018-06-27 08:52] Binhluan1234 commented on #881
i have the same problem.

[2018-06-27 10:15] hzx1621260121 commented on #889
我也是这样，找了好多天突然来到了社区

[2018-06-27 13:53] dytiz commented on #736
i  got same problem and  solved it:
../node_modules/react-native/Libraries/NativeAnimation/RCTAnimation.xcodeproj
Find this file and drag it to the Libraries.
<img width="168" alt="qq20180627-214041 2x" src="https://user-images.githubusercontent.com/10192599/41977886-1e91dfb8-7a53-11e8-86f4-54eb3acda6d1.png">
then select targets->build Phases -> Link Binary With Libraries -> add   libRCTAnimation.

[2018-06-28 04:20] hzx1621260121 opened #899 "react-native的ScrollableTabView横向滚动到指定位置"
修改组件，看我简书文章，多多支持https://www.jianshu.com/p/9b110a3656a8

[2018-06-28 05:57] sfdux commented on #544
good! It works nice!

[2018-06-28 06:38] vincent1988 commented on #889
同样的问题+1

[2018-06-28 07:00] ayushnawani commented on #818
same here

[2018-06-28 10:29] hzx1621260121 commented on #889
通过修改组件，问题已经解决，看我简书文章，多多支持https://www.jianshu.com/p/9b110a3656a8

[2018-06-29 03:36] liubin915249126 opened #900 "expected dynamic type 'double' but had type 'string'"
`"react": "16.2.0",`
`"react-native": "0.52.2",`
`"react-native-scrollable-tab-view": "^0.8.0",`
`  "react-navigation": "^1.0.0-beta.27",`
It got wrong,when i press the tab button => expected dynamic type 'double' but had type 'string'

[2018-06-29 09:03] godot007 commented on #814
me too

[2018-06-29 14:41] YanYuanFE commented on #889
![image](https://user-images.githubusercontent.com/17774285/42098213-cc1bad90-7bec-11e8-9e53-77112215c898.png)

WINDOW_WIDTH是这个文件中的全局变量。屏幕宽度。

[2018-07-02 01:18] meiqi1992 commented on #730
have the same problem, @duycoder resolved it?

[2018-07-02 01:59] hzx1621260121 commented on #889
@YanYuanFE 在这里提醒各位，如果你是npm引入的官方组件，请移步到https://www.jianshu.com/p/9b110a3656a8，如果你是从node_modules拷贝一份官方代码到自己的components下作为自己的组件，请参考@YanYuanFE 的方法。两种方法生命周期不同，所以代码也会不相同

[2018-07-02 06:44] MrWangjiahuan opened #901 "Full screen tabLabel is not available in English when clicking."

[2018-07-03 01:28] OrangeFlavoredColdCoffee commented on #892
me too

[2018-07-03 03:01] OrangeFlavoredColdCoffee commented on #795
if child view is  ListView , add  props   scrollEnabled={false}.

[2018-07-03 06:48] modelwright commented on #898
请问你解决这个问题了吗？

[2018-07-03 06:56] modelwright opened #902 "Add a picture on the tabLabel"
![003ac405-c254-4e4c-a812-892202a5da9d](https://user-images.githubusercontent.com/16119017/42203391-3048df36-7ed1-11e8-81c3-1ea9b47b7cd7.png)

[2018-07-03 06:59] br2me commented on #712
@lavarajallu  so good~

[2018-07-06 03:07] dracudakid commented on #415
+1

[2018-07-09 01:12] MsMayuaner commented on #901
好的，谢谢

[2018-07-09 06:48] MatheusParanhos opened #905 "this.props.addListener is undefined"
Hi all. I'm not sure why I'm having this problem since I'm trying to replicate the example given in the repo to get the user gesture. But I don't know if I'm doing something wrong as well so if anyone could help me on this one you would be a friend for life ^^

Basically what I'm trying to do is to change an icon's size based on whether is selected or not, but pleasantly animate while the user scr

[2018-07-09 08:58] HeyuanXie commented on #898
没有 暂时还是用的作者的版本

[2018-07-09 09:13] Tracklous commented on #794
in my case the fix was to give static height  & width to it's container.

like

<View style={{height: 400, width: 400}}>
    <ScrollableTabView>
    {...props}
    </ScrollableTabView>
</View>

if you give flex as dimensions to it's container it will always give this error.
just try giving height & width to container and it will work.

[2018-07-09 11:53] yubo725 commented on #845
@Just013 good boy, 666

[2018-07-10 07:07] rheng001 commented on #794
@Tracklous

I'm also facing the same error. Do you know where in the code we should go to give a static height and width? Could you give a example? Thanks

[2018-07-10 08:48] tangshenghao opened #906 "[Android] 0.6.0 Use ScrollableTabBar Crash"
Project package :    react-native/0.37.0   react-native-scrollable-tab-view/0.6.0

Android crash when use ScrollableTabBar.  and iOS no problem.

use code:
`<ScrollableTabView
                    style={styles.scrollTop}
                     renderTabBar={() =>
                         <ScrollableTabBar
                             style={styles.scrollTabBar}
                             tabStyle=

[2018-07-10 09:21] Tracklous commented on #794
@rheng001
yes! In ScrollableTabView container, just give height and width to the view which you are creating in the ScrollableTabView instead of giving flex 1 just try with static height&width.

[2018-07-10 17:06] rheng001 commented on #794
@Tracklous

Thank you! It works!

[2018-07-11 03:54] minhphung210 opened #907 "Slow Transition when swiper on android. pls help me :'("
I have a tabStack that uses reactive navigation. It is structured as follows:

[code]

[code]

When I navigate to the "Point" screen containing the ScrollableTabView inside AccountTab , it works very well. But if I switch to another tab and navigate inside these tabs. Then go back to AccountTab and watch the delay. If I unmount the screen, then back it is fine.

here is my video demo : [https://ww

[2018-07-11 13:09] jariwalabhavesh commented on #900
I am facing this issue on load ScrollableTabView, I am facing this issue in android only in ios it is working fine. i think there is an issue with `scrollValue` which is passing from ScrollTabView to DefaultTabBar

[2018-07-11 18:07] #821 closed

[2018-07-13 10:07] Edwardelric commented on #895
@callcter unluckily, didn't  solve this problem.

[2018-07-13 10:07] Edwardelric commented on #895
@callcter unluckily, didn't  solve this problem.

[2018-07-13 15:51] louiechristie commented on #895
*Investigation*

Looks like this third party libary:
https://github.com/skv-headless/react-native-scrollable-tab-view/pulse

Is no longer actively maintained and has not been upgraded to work with RN 0.51+ and has this issue:
https://github.com/skv-headless/react-native-scrollable-tab-view/issues/895
and this issue (which is probably a duplicate)
https://github.com/skv-headless/react-native-scroll

[2018-07-14 02:41] williams-voon opened #908 "Run into exception in RN 0.56."
error: bundling failed: SyntaxError: /Users/apple/Documents/workspace/react-native/fzbdemo8/node_modules/react-native-scrollable-tab-view/SceneComponent.js: A trailing comma is not permitted after the rest element (9:32)

   7 |
   8 | const SceneComponent = (Props) => {

     |                                 ^
  10 |   return <View {...props}>
  11 |       <StaticContainer shouldUpdate={shouldUp

[2018-07-16 08:13] barron9 opened #909 "in android its not working"
<ScrollableTabView
    style={{marginTop: 80,zIndex:30 }}
    initialPage={0}
    renderTabBar={() => <DefaultTabBar />}

code is example code, which works in ios but not in android nothing comes to screen

[2018-07-16 08:15] shenhuniurou commented on #898
@HeyuanXie 我用比较笨的方法解决了这个问题，主要是修改`updateTabUnderline`这个方法，我先自己定义了一个prop，就是underlineWidth，默认值就是我想要的那个长度30，然后计算出修改后的线的左边距就好了，我最后的效果是这样的：

![](http://offfjcibp.bkt.clouddn.com/WX20180716-160834@2x.png)

修改后的代码放在下面了，希望能帮到你。

[code]

[2018-07-16 10:43] liam-lee1 commented on #909
I also have this problem, a blank

[2018-07-16 12:04] Shabnam-Veranloo commented on #653
@yogevlahyani i have same prolem...
do you find any solution???

[2018-07-16 13:42] hungdev commented on #908
/node_modules/react-native-scrollable-tab-view/SceneComponent.js
remove comma after ...props (line 9)

[2018-07-16 13:49] hungdev commented on #907
i get same issue.

[2018-07-16 15:20] hungdev commented on #907
@minhphung210
I know the reason. in my case, the reason is the old react native version.
My react native version is 0.54.2. After update to 0.56.0, it runs fine.
You can try update to newest react native version.

[2018-07-16 15:46] tandat2209 commented on #715
+1

[2018-07-16 18:50] vdpdev commented on #715
Wrapper of your ScrollableTabView should have `style={{ flex: 1 }}`

[2018-07-17 01:16] minhphung210 commented on #907
thank for reply. I will try

[2018-07-17 02:39] wjyx1lalala opened #910 "SyntaxError: A trailing comma is not permitted after the rest element (9:32)"
i know you had resolve the bug Removed trailing comma, which is a breaking change for RN 0.56 , but why not publish a new npm version to fix? I could`t  build success when i use the latest version '0.8.0' now

[2018-07-17 03:00] #905 closed

[2018-07-17 03:09] MatheusParanhos commented on #905
I closed since there was no reply

[2018-07-17 04:36] WStupid commented on #909
Maybe you should add a state to render in componentDidMount.

[2018-07-17 11:48] vasilich6107 commented on #910
Is it so hard to add new tag?

[2018-07-17 12:21] MohamedHedar commented on #653
+1

[2018-07-19 08:53] Glassay opened #911 "the content don't display in Android,but it's good in IOS"
`"react-native": "0.55.4"`
`"react-native-scrollable-tab-view": "^0.8.0"`
*I try to add a carousel component above the `react-native-scrollable-tab-view` like this:*
![](http://p8pobg42e.bkt.clouddn.com/blog/image/bug.png)
*but the content of the tabs don't display anything in Android, in IOS is OK, can anyone help me?*

[2018-07-22 13:00] callcter commented on #656
@xuanmiao-zero 我用两个scrollable-tab-view嵌套，你是怎么解决的？能说一下思路吗

[2018-07-23 08:49] TheSixth opened #912 "Can I switch the tabs by a Function?"
I want implement a function that switch to another tab screen when i scroll to the screen end.

[2018-07-23 12:17] Glassay commented on #911
Solve it! I add a height in the `ScrollableTabView`, then it works.

[2018-07-23 12:17] #911 closed

[2018-07-23 14:08] shx1545 commented on #910
The same bug

[2018-07-24 06:42] hpmax00 commented on #866
+1

[2018-07-25 06:04] hpmax00 commented on #724
#814
#866

[2018-07-25 06:09] hpmax00 commented on #862
Is not LazyLoad default ?

[2018-07-25 13:29] bearty commented on #895
Same issue.
@louiechristie not helped for me.

[2018-07-27 01:15] Huanqiang commented on #910
+1 @skv-headless

[2018-07-27 07:55] iceVeryCold commented on #910
+1@skv-headless

[2018-07-27 18:47] rderwin commented on #910
For anyone stuck there's a couple short term hacks to get past this if you are trying to upgrade your app to 0.56

1. use npm's github URLs to grab the latest version in master https://docs.npmjs.com/files/package.json#github-urls
`"react-native-scrollable-tab-view": "git@github.com:skv-headless/react-native-scrollable-tab-view#master"
`
2. go into your node modules folder and remove the trailing

[2018-07-30 01:02] phil-hodgson-1st commented on #907
Any luck with the update @minhphung210 ?

[2018-07-30 02:06] minhphung210 commented on #907
@phil-hodgson-1st  I encountered a bit of error when updating version 0.56 of react-native so I decided to keep the version and fix it in the way of the above mentioned

[2018-07-31 08:33] MissLlq commented on #709
has the same problem

[2018-07-31 09:47] MissLlq commented on #709
### change the renderScrollableContent function like this ,and it work .this problem is because android use ViewPagerAndroid.

change the file
### react-native-scrollable-tab-view/index.js
 **renderScrollableContent** like this:

[code]

delete android code which is use ViewPagerAndroid.

this issues  can help you:
[https://github.com/happypancake/react-native-scrollable-tab-view/issues/187](url)

[2018-07-31 10:13] zengyimou commented on #898
@shenhuniurou  初次加载的时候 还是没居中 怎么处理？

[2018-07-31 11:28] shenhuniurou commented on #898
不是没居中，是有一个从左边往中间滑动然后居中的过程，体验确实不太好，我也没解决这个问题。

| |
aa
邮箱：wlovejava@163.com
|

Signature is customized by Netease Mail Master

在2018年07月31日 18:13，pawn 写道：

@shenhuniurou 初次加载的时候 还是没居中 怎么处理？

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-08-01 13:49] anhnguyenvan commented on #187
you can using this lib ! it fixed this bug
[https://github.com/turfaa/react-native-scrollable-tab-view-universal)]

[2018-08-02 06:38] ftxbird commented on #704
srollableTabView inside ScrollView two children pages has the same height , any one resloved this? very Thank

[2018-08-02 08:49] summerangel commented on #898
tabBarUnderlineStyle={{
                      width: 20, // 根据你自己的来定
                      left: 37, // 根据你自己的来定
                      backgroundColor: '#333'
                    }}

[2018-08-06 04:00] SongZhaoJie opened #916 "ScrollableTabView 不能放在View里面吗"
<View>
                {/*<View style={styles.searchStyle}><Text></Text></View>*/}
                <ScrollableTabView
                    renderTabBar={() => <DefaultTabBar />}
                    tabBarUnderlineStyle={{backgroundColor:'white'}}
                    tabBarActiveTextColor={'#000000'}
                    tabBarInactiveTextColor={'gray'}
                    tabBarBackgroundColor={"#ff

[2018-08-06 05:52] wenkangzhou commented on #794
+1

[2018-08-06 06:41] XHTeng commented on #640
@gameboyVito  It works , Thanks ~!

[2018-08-06 07:15] myselfyy opened #917 "SceneComponent 文件报错"
SceneComponent文件第九行props属性后多一分号导致报错，删掉就好了，麻烦更新npm哟

[2018-08-06 08:00] HeyuanXie commented on #898
@shenhuniurou 可以可以 我试试

[2018-08-07 01:45] SongZhaoJie commented on #916
已经解决了，在最顶端设置flex：1 就行了

[2018-08-07 03:16] ChinaLike commented on #828
To solve this problem, what you should do.

[code]

[2018-08-07 05:01] MoreZone commented on #917
谢谢大佬。

[2018-08-07 05:49] SLPowerCoder commented on #465
the same problem comes to me when i fetch net data, and how to solve it  ,

[2018-08-08 01:57] myselfyy commented on #917
不客气

[2018-08-08 15:33] HS3 commented on #910
+1 how?

[2018-08-09 06:44] WhoJave commented on #908
Any Solutions ?

[2018-08-09 06:45] hungdev commented on #908
@WhoJave  run npm i -s https://github.com/happypancake/react-native-scrollable-tab-view.git to get fix code from master

[2018-08-09 06:51] WhoJave commented on #908
@hungdev tkx Im trying now

[2018-08-09 06:59] WhoJave commented on #908
@hungdev this command not working for me ,  any ideas ?

[2018-08-09 07:00] hungdev commented on #908
@WhoJave remove node_modules first then run that command.

[2018-08-09 07:13] WhoJave commented on #908
It seems OK ,tkx @hungdev

[2018-08-09 12:00] mazenchami opened #918 "Disabled ScrollableTabBar Scroll"
I would like to disable the ability to scroll the tab bar from the props.

Adding `scrollEnabled={false}` to the `<ScrollableTabView />`.

Let me know if I need to open a PR for this or if someone found a solution...

[2018-08-09 14:28] virdesai commented on #918
Enhancement PR: https://github.com/happypancake/react-native-scrollable-tab-view/pull/919

[2018-08-10 20:34] corasan commented on #909
I have the same problem, were you able to fix this?

[2018-08-13 04:25] git-Asir commented on #647
I'm facing the same issue in the version 0.8.0; the react-native version: ^0.50.3;i make it on the modal

[2018-08-13 07:37] lydat opened #920 "When can I use Collapsable？"

[2018-08-13 07:57] lizhuoyuan commented on #893
waiting。。

[2018-08-14 06:16] xiongxhc commented on #888
Here is the solution that works for me, took me quite sometime to figure out.
[code]

[2018-08-14 06:42] badaz commented on #910
Hi, tx for this very nice component, could you make an npm release including the commit fixing the trailing coma pb please ?

https://github.com/happypancake/react-native-scrollable-tab-view/commit/45a0d58effe9c34bda13e18745b50575ea61d2b3

[2018-08-14 20:20] #908 closed, assigned to nobody

[2018-08-15 15:32] ustcwudi commented on #640
wonderful

[2018-08-15 16:56] ustcwudi commented on #754
remove

style: tabBarPosition === 'top' ? styles.Tabs.topTabBarSplitLine : styles.Tabs.bottomTabBarSplitLine

in node_modules

[2018-08-16 16:25] mengerzhuanyong commented on #881
@bingoo2008 这样做虽然可以显示了，但是底部状态条不行了，

[2018-08-17 04:07] arfaWong opened #922 "Can I set tabBarPosition to left?"
Something likes picture below.
![tabbarposition left](https://user-images.githubusercontent.com/8801749/44247303-0a43dd00-a216-11e8-8171-b5a22aff4260.png)

[2018-08-19 08:50] visitor009 opened #924 "ScrollableTabBar,The first loading underline is not displayed,(Android)"
What's the reason that the underline doesn't show up on the first load, slides or clicks on something else, and doesn't show up on the first load?
![image](https://user-images.githubusercontent.com/29028955/44307195-9994f000-a3d0-11e8-8784-77447657097e.png)

[2018-08-20 05:00] Toriki07 commented on #187
thank you, it work for me

[2018-08-20 10:46] wikiwu commented on #910
yarn add happypancake/react-native-scrollable-tab-view#master

[2018-08-22 12:45] est7 commented on #851
save my time thank u

[2018-08-23 06:46] khat33b opened #925 "Having too many tabs making the tabLabels vertical"
When I am using many tabs (around 35), the tab labels are appearing vertical with one letter coming below another instead of horizontal. The library is trying to fit all the tabs in a single screen without having any tab header scrolling.

[2018-08-23 09:30] #925 closed

[2018-08-23 09:35] khat33b opened #926 "Using FlatList with ScrollableTabView"
Is it possible to use `FlatList` with `ScrollableTabView`? How?

[2018-08-24 20:03] renandelmonico commented on #907
@minhphung210 Which version are you using?

[2018-08-27 02:47] chlbeyond commented on #676
Is there a solution? Answer, thank you very much.

[2018-08-27 16:27] NguyenPhatBG commented on #812
tabBarUnderlineStyle: {
        backgroundColor: '$color_primary',
        height: 2,
        width: '30%',
        marginHorizontal: '5%',
}
Hope can help you! I solved it 👍

[2018-08-28 00:38] wjTime commented on #835
is the issue resole

[2018-08-28 00:47] wjTime commented on #835
is the issue resolve？ i have the same problem as you，while i put the scrollable tab view inside the flatlist or the sectionlist as it item or the footer。when i change scrollable tab view ，all sub page view height is the same highest ，above all，i in one tab content load more data，and switch another tab content ，the page content heigh is the same to last tab content height ，can you help me？

[2018-08-28 09:36] CarisL commented on #737
Did you solve the issue ?

[2018-08-29 03:30] WaitInRaining opened #927 "scrollTabBar does not work sometimes in Android"
as titile, when i set renderTabBar as scrollTabBar ,sometimes it does not work, not all ways

[2018-08-29 03:31] WaitInRaining commented on #927
<ScrollableTabView
                    renderTabBar={() => <ScrollableTabBar textStyle={{}} style={{
                        height: 40,
                        backgroundColor: 'white',

                    }} />}
                    style={{
                        height: 10,
                        padding: 0,
                    }}
                    tabBarBackgroundColor='transparent'

[2018-09-03 08:06] GideonLiu opened #928 "ReactNative 0.56.0 version ',' need delete"
![image](https://user-images.githubusercontent.com/16357389/44974870-828afc00-af93-11e8-9d3e-a1132dbf4cca.png)
ReactNative 0.56.0 version SceneComponent class line 9, this ',' need delete

[2018-09-03 10:21] SupriyaKalghatgi opened #929 "Scrollable tabs redundantly animate (horizontal) scroll when changing screen"
https://snack.expo.io/SkHzoYqP7

[2018-09-03 16:04] mozamonkey opened #930 "Placing a View in between the Page and the Scrollable Tab View"
If I want to place a view in between the page and scrollable tab view, where would i place the code? Whenever I place it, it  renders the view multiple times within the tab bar.

Where would it be placed in your advanced example?

[2018-09-04 07:51] sunzhishuai commented on #927
一样的问题

[2018-09-04 14:16] digital-flowers commented on #126
in @Dictory example instead of using the local variable `this.pageIndex`  you can just use `this.tabView.state.currentPage`

[2018-09-05 03:17] hashamhabib commented on #415
+1

[2018-09-06 09:49] BadMaker commented on #924
多谢

[2018-09-07 02:22] anesumuz opened #931 "Render a global component over tabs."
Is there a way to render a common component across tabs? The use case is to add an Action button  (FAB) across the tabs.

[2018-09-07 08:45] SUpermin6u opened #932 "A trailing comma is not permitted after the rest element: const {shouldUpdated, ...props, } = Props;"
Please fix this ok?
[code]

[2018-09-07 16:18] ammoradi commented on #932
#928

[2018-09-08 03:51] LannyCodes commented on #908
@hungdev Thanks!

[2018-09-09 10:16] superandrew213 opened #933 "Publish new version on npm"
Can we have a new version on npm?

[2018-09-10 14:26] 0es commented on #881
比较完美的解决方案：
1. ScrollableTabView外部包裹一层View
2. View设置初始height
3. ScrollableTabView的内部View使用onLayout动态获取内部View的height
4. 外部View的height根据当前内部View的height改变

Temporary perfect solution:
1. ScrollableTabView external wrapping a layer of View
2. View sets the initial height
3. ScrollableTabView's internal View uses onLayout to dynamically get the height of the internal View.
4. The height of the external

[2018-09-11 19:07] VesperDev commented on #187
@anhnguyenvan this work.

only copy the code of file index.js to react-native-scrollable-tab-view

[2018-09-12 10:07] git-Asir opened #934 "The latest version RN flatList conflicts with react-native-scrollable-tab-view"
RN Version ：0.56.1
react-native-scrollable-tab-view ：0.8.0

I updated RN from version 0.50.3 to version 0.56.1;
I found when <flatlist> use in the <ScrollableTabView>
the flatlist  func don't callback
      onEndReachedThreshold={0.5}
      onEndReached={this._onLoading}           <= this func don't callback
i don't know

[2018-09-12 11:45] git-Asir commented on #934
I found use ListHeaderComponent attribute in the same time will be problems
when del ListHeaderComponent will be ok！
maybe flatlist bug ... i guess

[2018-09-12 13:07] d12544 opened #935 "hide tabbar"
I need to hide scrollable tabbar in stack navigator screens .

TabBar =>Screen1: StackNavigator => (Screen1,Screen2) -> hide tabbar in these screens
                  Screen2
                  Screen3

[2018-09-13 07:41] Just013 opened #936 "v-0.5.7 error"
SceneComponent.js A trailing comma is not permitted after the rest element(9:32)

[2018-09-13 09:15] LiuYibin commented on #723
+1

[2018-09-13 10:16] jeffzing commented on #415
set tabView height not works fine when subview contain flatlist, even though I creat a timeout for 2 sec，still can not get the flatlist's layout H. weird，and I don't know how to solve this problem, and now my situation is one of the subview height far beyond the short one. ugly page.

[2018-09-13 19:56] ngothanhtai commented on #895
It works for me. Thanks @louiechristie alot!

[2018-09-14 19:50] dbecker215 commented on #836
I'm having the same problem. Any update/response?

[2018-09-15 07:00] VesperDev commented on #933
+1

in which version can I use the Collapsable Bar prop

Demo : [https://github.com/tibbus/react-native-scrollable-tab-view/blob/demo/demo_images/demo-collapsable.gif](url)

[2018-09-17 01:36] kurohune538 commented on #936
#928 is same issue I guess.

[2018-09-17 03:41] mozibrand opened #937 "A trailing comma is not permitted after the rest element: const {shouldUpdated, ...props, } = Props;"
error: bundling failed: SyntaxError: /Users/superman/Projects/exbuzz-app-react-native/node_modules/react-native-scrollable-tab-view/SceneComponent.js: A trailing comma is not permitted after the rest element (9:32)

   7 |
   8 | const SceneComponent = (Props) => {

     |                                 ^
  10 |   return <View {...props}>
  11 |       <StaticContainer shouldUpdate={shouldUpdated}

[2018-09-18 01:07] StevenT1 commented on #415
I found a solution that is not a good solution, but the effect can be achieved.
Referring to this method @denizs @laclys  ，  improvements were made by
me,The code is as follows:
`this.state={ LTabSwitch:true,
        RTabSwitch:true,
        Lheight:null,
        Rheight:null,」`
`_handleTabHeight(obj){
         this.refs.totop.scrollTo({x:0,y: 0,animated:true});
        this.refs[obj.ref.props.tab

[2018-09-18 01:09] StevenT1 commented on #415
I found a solution that is not a good solution, but the effect can be achieved.
Referring to this method @denizs @laclys ， improvements were made by
me,The code is as follows:
[code]

[2018-09-18 03:13] shivanraptor opened #938 "How to use this library at snack.expo.io?"
I'm working on snack.expo.io.

I notice some other 3rd party libraries are able to import to snack.expo.io automatically, but this one can't.

Can I add this library manually to the snack.expo.io?

[2018-09-18 03:36] Maple13 opened #939 "I hope I can update the package on npmjs.com because it always reports an error."
Hey! Thank you for providing excellent resources.
I hope I can update the package on npmjs.com because it always reports an error, as shown in the figure below.

![image](https://user-images.githubusercontent.com/11918457/45662894-5bf1c700-bb36-11e8-99a9-fb88e8c44c1b.png)

The reason is that the package on npmjs.com has not been updated for a long time.

[2018-09-18 03:55] Maple13 commented on #939
#910

[2018-09-18 03:55] #939 closed

[2018-09-18 03:58] Maple13 commented on #937
#901

[2018-09-18 09:10] Mcl-123 commented on #937
I meet the same mistake and don't know how to solve it.

[2018-09-18 09:54] mozibrand commented on #937
I solved this problem, I'm not going to wait for the author, I used this branch
https://www.npmjs.com/package/react-native-scrollable-tab-view2

[2018-09-18 09:54] mozibrand commented on #928
I solved this problem, I'm not going to wait for the author, I used this branch
https://www.npmjs.com/package/react-native-scrollable-tab-view2

[2018-09-18 15:43] iwenchao commented on #676
try 0.7.4 version. it works for me

[2018-09-20 14:48] ihor commented on #937
@mozibrand could you please create a PR?

[2018-09-20 16:51] ihor commented on #937
Actually, this issue is already fixed in the master branch. You can switch to it in your dependencies:
[code]

[2018-09-21 03:29] smartBoy02200059 commented on #936
somebody resolved？

[2018-09-21 09:43] quhuainan commented on #892
me too

[2018-09-24 14:43] louiechristie commented on #895
@ngothanhtai , @rarira , glad my suggestion worked for you.

Also, as react-native-scrollable-tab-view library is no longer being actively maintained, I am looking for a replacement.

When I was at the React Native EU 2018 conference I learned about a thing that might be a good replacement.  It is the react-navigation library, createBottomTabNavigator component:
https://reactnavigation.org/docs/en

[2018-09-26 03:43] koo1006 commented on #907
Having same same issue. Using react native "react-native": "0.57.0" . Anyone got solution?

[2018-09-27 10:14] khat33b commented on #126
@Dictory I am finding it hard to understand your instructions. Can you please provide an Expo snack for this?

[2018-09-28 07:14] xgAnd opened #942 "In Android add alignItems the view will gone"
In Android the ScrollableTabView style when add the style  alignItems:'center' the view will gone

[2018-09-28 15:42] elkinjosetm commented on #928
+1

[2018-10-02 09:07] SanchezQb opened #943 "TabLabel not displaying full text"
![screenshot_20181002-094945 1](https://user-images.githubusercontent.com/15196879/46339360-7f366f00-c62a-11e8-9ee4-959b3fb6e22b.jpg)

[code]

[2018-10-05 07:06] prashantsingh0205 commented on #910
@ptomasroos  when will the update be released? Still showing errors.

[2018-10-08 05:31] pvinis commented on #937
changing something in node_modules is not a solution. it's a temporary fix.

[2018-10-08 07:04] rezaarifian commented on #187
thanks,
I following this [commit](https://github.com/crozzfire/react-native-scrollable-tab-view/blob/c099d0d1a1502a2bdc672f3bf5cf8d78eda4ee63/index.js)

[2018-10-08 07:11] feruzm commented on #933
yes, a lot of improvements are missing...it would be great to get them published otherwise everyone will push their own version or use github directly which is not optimal...

[2018-10-09 03:19] TylerPin commented on #836
Pass parent reference to the child tab and inside child call navigate.
`<ScrollableTabView
               style={{ marginTop: 20, }}
               initialPage={0}
               renderTabBar={() => <DefaultTabBar />}

               <Chat
               parentRef={this}
               tabLabel='Tab #1' />
               <Text tabLabel='Tab #2'>favorite</Text>
               <Text tabLabel='Tab #3

[2018-10-09 09:08] Dictory commented on #126
@khat33b sorry, I stoped use this library in by projects.

[2018-10-09 16:55] babelom commented on #536
@radvc
Hi !
You have to modify the DefaultTabBar component itself

[2018-10-11 09:28] woliwa1 opened #944 "The phenomenon of the white on iOS"
I react-native-scrollable-tab-view version is 0.80, the react - native 0.48.3, but initialPage != 0, the phenomenon of the white on iOS, android can be normal use

[2018-10-12 07:24] roc-chang opened #945 "componentDidMount called twice on first tab"
The NewsListTab1's componentDidMount will called twice, how can i fix it?
Here is my code.
`
<ScrollableTabView
                        initialPage={0}
                        tabBarBackgroundColor={ThemeUtils.CurTheme.themeColor?
                       ThemeUtils.CurTheme.themeColor: '#2196F3'}
                        tabBarInactiveTextColor='mintcream'
                        tabBarActiveTextCol

[2018-10-16 02:15] Clearives commented on #937
A trailing comma is not permitted after the rest element,hope to fix,thanks~

![image](https://user-images.githubusercontent.com/8925862/46988682-5505a680-d12c-11e8-9147-1dce31850e38.png)

[2018-10-16 05:05] x13945 opened #946 "Temporary solution for "trailing comma" error in react-native >= 0.56.0"
## Situation

While we use  `react-native-scrollable-tab-view <= v0.8.0`  in `React-native >= v0.56.0`, npm server will throw a error like below:

[code]

### Reason for the error

From `React-native v0.56`, it migrate babel from 6.xx to 7.xx.

### Why this temporary solution

As the `react-native-scrollable-tab-view`  has fix the bug in master branch, but the new release is not available for now.

[2018-10-18 08:01] mindsminds opened #947 "Ask a question.When react-native-scrollable-tab-view:ScrollableTabBar and FlatList switch Tab, it is too laggy"
Does anyone know how to solve this problem?

[2018-10-19 03:42] cielu commented on #873
怎么解决的啊？

[2018-10-20 08:31] motogod commented on #836
@TylerPin nice solution! Thank you very much.

[2018-10-25 08:42] ptomasroos commented on #946
This has now been published, truly sorry for the delay on this: 0.9.0

[2018-10-25 08:42] #946 closed

[2018-10-25 08:42] ptomasroos commented on #945
Can you please post a expo reproduction for this in order for us to help out?

[2018-10-25 08:42] ptomasroos commented on #936
This has now been published, truly sorry for the delay on this: 0.9.0

[2018-10-25 08:42] #936 closed

[2018-10-25 08:42] ptomasroos commented on #928
This has now been published, truly sorry for the delay on this: 0.9.0

[2018-10-25 08:42] #928 closed

[2018-10-25 08:43] ptomasroos commented on #937
This has now been published, truly sorry for the delay on this: 0.9.0

[2018-10-25 08:43] #937 closed

[2018-10-25 08:43] ptomasroos commented on #933
This has now been published, truly sorry for the delay on this: 0.9.0

[2018-10-25 08:43] #933 closed

[2018-10-25 08:43] ptomasroos commented on #932
This has now been published, truly sorry for the delay on this: 0.9.0

[2018-10-25 08:43] #932 closed

[2018-10-25 08:44] #934 closed

[2018-10-25 08:50] ptomasroos commented on #845
A solution is merged, and will be released during the day!

[2018-10-25 08:50] #845 closed

[2018-10-25 08:57] ptomasroos commented on #672
Fixed in master, will be released later today

[2018-10-25 08:57] #672 closed

[2018-10-25 09:07] ptomasroos commented on #44
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:07] #44 closed

[2018-10-25 09:07] ptomasroos commented on #51
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:07] #51 closed

[2018-10-25 09:07] ptomasroos commented on #55
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:07] #55 closed

[2018-10-25 09:07] ptomasroos commented on #56
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:07] #56 closed

[2018-10-25 09:07] ptomasroos commented on #107
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:07] #107 closed

[2018-10-25 09:07] ptomasroos commented on #112
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:07] #112 closed

[2018-10-25 09:07] ptomasroos commented on #115
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:07] #115 closed

[2018-10-25 09:07] ptomasroos commented on #133
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:07] #133 closed

[2018-10-25 09:07] ptomasroos commented on #155
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:07] #155 closed

[2018-10-25 09:08] ptomasroos commented on #198
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:08] #198 closed

[2018-10-25 09:08] ptomasroos commented on #213
Closing as this issue is very old, feel free to open a new issue if its still happening in the latest release

[2018-10-25 09:08] #213 closed

[2018-10-25 09:10] #215 closed

[2018-10-25 09:10] #216 closed

[2018-10-25 09:10] #224 closed

[2018-10-25 09:10] #230 closed

[2018-10-25 09:10] #236 closed

[2018-10-25 09:10] #253 closed

[2018-10-25 09:10] #297 closed

[2018-10-25 09:10] #313 closed

[2018-10-25 09:10] #321 closed

[2018-10-25 09:10] #357 closed

[2018-10-25 09:10] #358 closed

[2018-10-25 09:10] #361 closed

[2018-10-25 09:10] #385 closed

[2018-10-25 09:10] #400 closed

[2018-10-25 09:10] #414 closed

[2018-10-25 09:10] #415 closed

[2018-10-25 09:10] #438 closed

[2018-10-25 09:10] #439 closed

[2018-10-25 09:10] #440 closed

[2018-10-25 09:10] #443 closed

[2018-10-25 09:10] #446 closed

[2018-10-25 09:10] #451 closed

[2018-10-25 09:10] #458 closed

[2018-10-25 09:10] #460 closed

[2018-10-25 09:10] #469 closed

[2018-10-25 09:10] #470 closed

[2018-10-25 09:10] #473 closed

[2018-10-25 09:10] #475 closed

[2018-10-25 09:10] #476 closed

[2018-10-25 09:10] #477 closed

[2018-10-25 09:10] #478 closed

[2018-10-25 09:10] #481 closed

[2018-10-25 09:10] #491 closed

[2018-10-25 09:10] #496 closed

[2018-10-25 09:10] #508 closed

[2018-10-25 09:10] #510 closed

[2018-10-25 09:10] #523 closed

[2018-10-25 09:10] #536 closed

[2018-10-25 09:10] #538 closed

[2018-10-25 09:10] #541 closed

[2018-10-25 09:10] #553 closed

[2018-10-25 09:10] #558 closed

[2018-10-25 09:10] #561 closed

[2018-10-25 09:10] #565 closed

[2018-10-25 09:10] #572 closed

[2018-10-25 09:10] #574 closed

[2018-10-25 09:10] #578 closed

[2018-10-25 09:10] #579 closed

[2018-10-25 09:10] #583 closed

[2018-10-25 09:10] #585 closed

[2018-10-25 09:10] #589 closed

[2018-10-25 09:10] #594 closed

[2018-10-25 09:10] #595 closed

[2018-10-25 09:10] #601 closed

[2018-10-25 09:10] #602 closed

[2018-10-25 09:10] #605 closed

[2018-10-25 09:10] #607 closed

[2018-10-25 09:10] #612 closed

[2018-10-25 09:10] #616 closed

[2018-10-25 09:10] #619 closed

[2018-10-25 09:10] #623 closed

[2018-10-25 09:10] #628 closed

[2018-10-25 09:10] #634 closed

[2018-10-25 09:10] #638 closed

[2018-10-25 09:10] #639 closed

[2018-10-25 09:10] #641 closed

[2018-10-25 09:10] #646 closed

[2018-10-25 09:10] #647 closed

[2018-10-25 09:10] #648 closed

[2018-10-25 09:10] #649 closed

[2018-10-25 09:10] #652 closed

[2018-10-25 09:10] #653 closed

[2018-10-25 09:10] #654 closed

[2018-10-25 09:11] #709 closed

[2018-10-25 09:11] #711 closed

[2018-10-25 09:11] #712 closed

[2018-10-25 09:11] #713 closed

[2018-10-25 09:11] #714 closed

[2018-10-25 09:11] #715 closed

[2018-10-25 09:11] #716 closed

[2018-10-25 09:11] #717 closed

[2018-10-25 09:11] #718 closed

[2018-10-25 09:11] #719 closed

[2018-10-25 09:11] #720 closed

[2018-10-25 09:11] #725 closed

[2018-10-25 09:11] #727 closed

[2018-10-25 09:11] #728 closed

[2018-10-25 09:11] #730 closed

[2018-10-25 09:11] #731 closed

[2018-10-25 09:11] #733 closed

[2018-10-25 09:11] #735 closed

[2018-10-25 09:11] #737 closed

[2018-10-25 09:11] #740 closed

[2018-10-25 09:11] #742 closed

[2018-10-25 09:11] #743 closed

[2018-10-25 09:11] #744 closed

[2018-10-25 09:11] #745 closed

[2018-10-25 09:11] #746 closed

[2018-10-25 09:11] #748 closed

[2018-10-25 09:11] #749 closed

[2018-10-25 09:11] #750 closed

[2018-10-25 09:11] #751 closed

[2018-10-25 09:11] #752 closed

[2018-10-25 09:11] #753 closed

[2018-10-25 09:11] #754 closed

[2018-10-25 09:11] #756 closed

[2018-10-25 09:11] #760 closed

[2018-10-25 09:11] #761 closed

[2018-10-25 09:11] #763 closed

[2018-10-25 09:11] #767 closed

[2018-10-25 09:11] #771 closed

[2018-10-25 09:11] #772 closed

[2018-10-25 09:11] #773 closed

[2018-10-25 09:11] #777 closed

[2018-10-25 09:11] #778 closed

[2018-10-25 09:11] #780 closed

[2018-10-25 09:11] #781 closed

[2018-10-25 09:11] #782 closed

[2018-10-25 09:11] #783 closed

[2018-10-25 09:11] #784 closed

[2018-10-25 09:11] #785 closed

[2018-10-25 09:11] #786 closed

[2018-10-25 09:11] #787 closed

[2018-10-25 09:11] #790 closed

[2018-10-25 09:11] #791 closed

[2018-10-25 09:11] #793 closed

[2018-10-25 09:11] #794 closed

[2018-10-25 09:11] #795 closed

[2018-10-25 09:11] #799 closed

[2018-10-25 09:11] #800 closed

[2018-10-25 09:11] #802 closed

[2018-10-25 09:11] #803 closed

[2018-10-25 09:11] #804 closed

[2018-10-25 09:11] #805 closed

[2018-10-25 09:11] #807 closed

[2018-10-25 09:11] #808 closed

[2018-10-25 09:11] #810 closed

[2018-10-25 09:11] #811 closed

[2018-10-25 09:12] #812 closed

[2018-10-25 09:12] #813 closed

[2018-10-25 09:12] #814 closed

[2018-10-25 09:12] #818 closed

[2018-10-25 09:12] #822 closed

[2018-10-25 09:12] #823 closed

[2018-10-25 09:12] #825 closed

[2018-10-25 09:12] #826 closed

[2018-10-25 09:12] #827 closed

[2018-10-25 09:12] #828 closed

[2018-10-25 09:12] #829 closed

[2018-10-25 09:12] #830 closed

[2018-10-25 09:12] #831 closed

[2018-10-25 09:12] #833 closed

[2018-10-25 09:12] #835 closed

[2018-10-25 09:12] #836 closed

[2018-10-25 09:12] #838 closed

[2018-10-25 09:12] #839 closed

[2018-10-25 09:12] #840 closed

[2018-10-25 09:12] #841 closed

[2018-10-25 09:12] #842 closed

[2018-10-25 09:12] #846 closed

[2018-10-25 09:12] #847 closed

[2018-10-25 09:12] #848 closed

[2018-10-25 09:12] #851 closed

[2018-10-25 09:12] #853 closed

[2018-10-25 09:12] #854 closed

[2018-10-25 09:12] #855 closed

[2018-10-25 09:12] #856 closed

[2018-10-25 09:12] #857 closed

[2018-10-25 09:12] #859 closed

[2018-10-25 09:12] #860 closed

[2018-10-25 09:12] #861 closed

[2018-10-25 09:12] #862 closed

[2018-10-25 09:12] #863 closed

[2018-10-25 09:12] #864 closed

[2018-10-25 09:12] #865 closed

[2018-10-25 09:12] #866 closed

[2018-10-25 09:12] #867 closed

[2018-10-25 09:12] #868 closed

[2018-10-25 09:12] #870 closed

[2018-10-25 09:12] #871 closed

[2018-10-25 09:12] #872 closed

[2018-10-25 09:12] #873 closed

[2018-10-25 09:12] #876 closed

[2018-10-25 09:12] #877 closed

[2018-10-25 09:12] #879 closed

[2018-10-25 09:12] #880 closed

[2018-10-25 09:12] #881 closed

[2018-10-25 09:12] #882 closed

[2018-10-25 09:12] #883 closed

[2018-10-25 09:12] #886 closed

[2018-10-25 09:12] #887 closed

[2018-10-25 09:12] #888 closed

[2018-10-25 09:12] #889 closed

[2018-10-25 09:12] #895 closed

[2018-10-25 09:12] #897 closed

[2018-10-25 09:12] #890 closed

[2018-10-25 09:12] #891 closed

[2018-10-25 09:12] #892 closed

[2018-10-25 09:12] #893 closed

[2018-10-25 09:12] #894 closed

[2018-10-25 09:12] #901 closed

[2018-10-25 09:12] #902 closed

[2018-10-25 09:12] #907 closed

[2018-10-25 09:12] #909 closed

[2018-10-25 09:12] #910 closed

[2018-10-25 09:12] #912 closed

[2018-10-25 09:12] #916 closed

[2018-10-25 09:12] #917 closed

[2018-10-25 09:12] #918 closed

[2018-10-25 09:12] #920 closed

[2018-10-25 09:12] #922 closed

[2018-10-25 09:12] #924 closed

[2018-10-25 09:12] #926 closed

[2018-10-25 09:12] #927 closed

[2018-10-25 09:12] #929 closed

[2018-10-25 09:12] #930 closed

[2018-10-25 09:12] #931 closed

[2018-10-25 09:12] #938 closed

[2018-10-25 09:12] #942 closed

[2018-10-25 09:12] #943 closed

[2018-10-25 09:12] #944 closed

[2018-10-25 09:12] #945 closed

[2018-10-25 09:12] #947 closed

[2018-10-25 09:14] #187 closed

[2018-10-25 09:14] #655 closed

[2018-10-25 09:14] #658 closed

[2018-10-25 09:14] #660 closed

[2018-10-25 09:14] #662 closed

[2018-10-25 09:14] #663 closed

[2018-10-25 09:14] #664 closed

[2018-10-25 09:14] #669 closed

[2018-10-25 09:14] #670 closed

[2018-10-25 09:14] #674 closed

[2018-10-25 09:14] #676 closed

[2018-10-25 09:14] #679 closed

[2018-10-25 09:14] #680 closed

[2018-10-25 09:14] #683 closed

[2018-10-25 09:14] #684 closed

[2018-10-25 09:14] #686 closed

[2018-10-25 09:14] #689 closed

[2018-10-25 09:14] #690 closed

[2018-10-25 09:14] #693 closed

[2018-10-25 09:14] #695 closed

[2018-10-25 09:14] #697 closed

[2018-10-25 09:14] #700 closed

[2018-10-25 09:14] #701 closed

[2018-10-25 09:14] #707 closed

[2018-10-25 09:14] #708 closed

[2018-10-25 09:16] yogeshR5 commented on #848
@ptomasroos  could you explain the above issue. it was fixed or not?

[2018-10-25 09:20] hungdev commented on #907
@ptomasroos  why do you close this issue?

[2018-10-25 10:02] ptomasroos commented on #907
Would be great if we could open a new issue with a repository so this is reproducable. If someone wants us to help out with this please at least provide a repository which is runnable, will make the life easier for everyone!

[2018-10-25 11:34] ptomasroos commented on #848
@yogeshR5 this issue has no repository which show's the error so its impossible for us to guess what you expect to happen and how its implemented. Hence please open a new issue with source code.

If this is now working fine in the latest release, then its def not fixed.

[2018-10-25 12:04] yogeshR5 commented on #848
@ptomasroos Thank you for comments. 'll check and update.

[2018-10-25 12:05] ptomasroos commented on #848
Feel free to make a example based on https://snack.expo.io/@ptomasroos/react-native-scrollable-tab-view-examples and open a new issue with the link to your fork

[2018-10-25 19:15] xiaoerge commented on #807
Is there any progress or comment to this issue?
@ptomasroos

[2018-10-25 19:56] ptomasroos commented on #807
You should wrap it inside the safe view provided by react native repo.

[2018-10-26 00:01] arfaWong commented on #922
closed ...
:(

[2018-10-30 08:37] est7 commented on #315
initialPage cant trigger onChangeTab callback

[2018-10-31 09:52] recepkocur opened #950 "Flicker problem on Android"
flicker problem on android. iOS is no problem.

please see [video](https://www.dropbox.com/s/c7alc2b9o7bx42y/screencapture.mov?dl=0)

"react": "16.6.0-alpha.8af6728",
"react-native": "0.57.4",
"react-native-scrollable-tab-view": "^0.9.0",

Samsung J9 Prime and General Mobile GM 5 Plus

[2018-10-31 12:46] ptomasroos commented on #950
Please fork and prepare the example for this if I should take a look at this.

[2018-10-31 13:06] recepkocur commented on #950
https://snack.expo.io/@recepkocur/scrollabletabview

[2018-10-31 14:33] ptomasroos commented on #950
Thank you! I will take a look at this, this week.

[2018-11-02 13:15] azamkth opened #951 "Not showing on Android"
I can see the tabs but the contents inside tabs not visible

this is my code
<ScrollableTabView
        tabBarUnderlineStyle={contactStyles.greenColor11}
       tabBarActiveTextColor="#699e22"
       tabBarBackgroundColor="#ffffff"

     <View tabLabel="Kontakt">
          <View><Text>dsdfsd</Text></View>
     </View>
     <View tabLabel="Hantera" >
          <View><Text>asdasdfgdfgdf</Text></View

[2018-11-04 11:07] Oliverxyj123 opened #952 "react-native-scrollable-tab-view组件ScrollableTabBar初次渲染不显示underline"

[2018-11-04 11:07] Oliverxyj123 commented on #952
new version will Resolve?

[2018-11-05 07:08] jamessawyer commented on #952
Same issue with new version(V0.9.0). I checked source file 'ScrollableTabBar.js', I found 'this.props.scrollValue._value' was still not modified to 'this.props.scrollValue.__getValue' in new version.However, source code on github master branch is ok, I have no idea why this happened.
BTW, I use 'yarn add react-native-scrollable-tab-view@latest' install the lib.

[2018-11-06 13:22] xntop commented on #952
Same issue

[2018-11-08 21:40] coderdave commented on #518
Why was this closed? Was it fixed?

[2018-11-09 01:52] pttyy opened #953 "ios软键盘覆盖 bug 解决方案 在 index.js ScrollView 添加 keyboardShouldPersistTaps='always'"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2018-11-09 01:53] pttyy opened #954 "ios键盘"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2018-11-09 01:54] pttyy commented on #830
ios软键盘覆盖 bug 解决方案 在 index.js 中 239行 keyboardDismissMode="on-drag" 下 添加 keyboardShouldPersistTaps='always'

[2018-11-09 07:30] stuChen commented on #952
Same issue

[2018-11-09 07:57] ptomasroos commented on #952
Which rn versions are you on? Can you please provide a repo which reproduces this

[2018-11-09 09:06] jamessawyer commented on #952
I can provide some snapshots in my local node_modules
react native project package.json file
<img width="606" alt="packagejsonfile" src="https://user-images.githubusercontent.com/22496982/48253133-203df400-e439-11e8-8fd1-73436390d2a1.png">

node_modules/react-native-scrollable-tab-view/package.json
<img width="1053" alt="packjsoninnodemodule" src="https://user-images.githubusercontent.com/22496982

[2018-11-09 09:21] ptomasroos commented on #952
Released as 0.10.0 my bad! Thanks

[2018-11-09 09:21] #952 closed

[2018-11-09 14:15] coderdave commented on #518
Thanks for reopening this. With `locked={true}` and `scrollWithoutAnimation={true}`, it's still causing my app scroll to the other tabs briefly on changing orientation. `scrolling???` is being consoled out when the orientation changes. I would think that shouldn't be triggering? I'm using version 0.10.0 of this library and react native 0.55.3.

[code]

[2018-11-10 14:53] luongs3 commented on #795
@showtan did you resolve this issue.
Please, i got the same one

[2018-11-10 14:55] luongs3 commented on #746
@ptomasroos why did you close this issue?
What's the solution?

[2018-11-10 14:57] ptomasroos commented on #746
There’s no repo included in the issue.

[2018-11-12 15:03] ptomasroos commented on #415
@zcmgyu there is no repo provided with the issue

[2018-11-13 19:00] spencerkingman-niche commented on #187
I am using https://github.com/turfaa/react-native-scrollable-tab-view-universal and it works like a dream. Is there any reason why this has to be a separate project? Or can the changes in this fork be incorporated into this project (Which is _far_ more popular)?

[2018-11-13 21:08] ptomasroos commented on #187
@spencerkingman-niche

This branch is 6 commits ahead, 11 commits behind.

Are there any significant changes in that repo?

[2018-11-15 15:46] spencerkingman-niche commented on #187
Thank you!

[2018-11-19 07:16] xiaohaook commented on #518
There's no problem with TAB switching on ios, and not only is the content not shown on android, it's also hard to switch

[2018-11-19 07:23] xiaohaook opened #955 "There's no problem with TAB switching on ios, and not only is the content not shown on android, it's also hard to switch"
"react": "16.0.0-alpha.6",
    "react-native": "0.44.3",
"react-native-scrollable-tab-view": "^0.10.0",

render() {
    return (
        <ScrollableTabView>
            <Text tabLabel='Tab 1'>Tab 1</Text>
            <Text tabLabel='Tab 2'>Tab 2</Text>
            <Text tabLabel='Tab 3'>Tab 3</Text>
        </ScrollableTabView>
    );
}

[2018-11-19 14:36] coderdave commented on #518
I'm having this problem on iOS.

[2018-11-21 02:50] a728384698 opened #957 "怎么隐藏未选中的underline"
![default](https://user-images.githubusercontent.com/7380874/48815939-3e7deb00-ed7b-11e8-83da-5ac33d0a9a35.png)

[2018-11-21 12:58] d12544 opened #959 "scrollEnabled does not scroll the tab bar correctly when an off-screen tab is focused"
-

When swiping the pages , the scrollable tabbar hides the active tab if it is out of the window screen width. The scrollableTabBar does not scroll to its position

## Steps to Reproduce
`<ScrollableTabView
      renderTabBar={() => <ScrollableTabBar ref = {(tabContainer) => {this.tab.ref = tabContainer;}} renderTab={this.renderTab} style={{backgroundColor:color.toolbar}}  />}
      onChangeTab={

[2018-11-23 11:16] showtan001 opened #960 "Jump to the ScrollableTabView Page (TabNavigator), Android does not render."
## environment
* react-native: 0.51.0
* react-native-scrollable-tab-view: 0.10.0

## Steps to Reproduce
Jump to the ScrollableTabView Page (TabNavigator), Android does not render.

## Expected Behavior
Android render

## Actual Behavior
Android does not have render (MemberCell)

## Code
    `const Tab = TabNavigator(
    {
        Home: {
            screen: language == 'zh' ? ChinseHome : HomeScr

[2018-11-26 03:52] kingsword09 commented on #960
the same problem

[2018-11-28 14:31] AFMW commented on #925
Have you found  any solution to this?

[2018-11-30 06:14] prasanth95 commented on #179
In Android, it's showing blank screen

[2018-11-30 07:29] mrmurazza commented on #895
@louiechristie it works for me too, thanks

[2018-12-01 10:13] coolguy001tv opened #962 "tabLabel doesn't show all the letters when using Android 9"
## Steps to Reproduce
See the demo [here](https://snack.expo.io/@coolguy/scroll-test)
Here's the source code:
[code]

You can see the tabs are 'abcd' and 'efgh' in the example above.
But in my phone (ONE PLUS 6 with Android 9.0.1) , the tabs only show 'abc' and 'efg'

## Expected Behavior
Show the right tab.
(I found it ok in android 7)

Here's my screenshot.

![47bfeb3df7a99e33dbbf1b83c91229d](ht

[2018-12-03 07:51] EyreGe commented on #957
@a728384698
![image](https://user-images.githubusercontent.com/19946413/49360156-49d5fc80-f713-11e8-8323-a2a023565c23.png)

[2018-12-03 08:41] bunnapanhchakrith commented on #420
<ScrollableTabBar style={{borderBottomColor: 'white'}}/>

[2018-12-03 10:07] qinxiaoxiang commented on #957
把颜色设置为白色

[2018-12-03 21:41] falay26 commented on #960
i got the same problem too, works great on ios tho..

[2018-12-04 05:52] showtan001 commented on #960
@kingsword09 @falay26 Use this, [(https://github.com/compojoom/react-native-scrollable-tab-view#fixes_android)], but initialPage = 0 in Android.

[2018-12-04 10:57] falay26 commented on #960
@showtan001 Your link doesn't open up but i searched the google and find this .. https://github.com/ptomasroos/react-native-scrollable-tab-view/pull/797/commits/ade702c7f35b1899444ff6a450730ae990000a26 if this is what you mean, can you explain how to implament it please.

[2018-12-05 02:01] falay26 commented on #909
Why would you close this? Same problem for me, works great on ios tho..

[2018-12-05 09:59] kingsword09 commented on #960
@falay26 package.json use
"react-native-scrollable-tab-view": "git+https://github.com/compojoom/react-native-scrollable-tab-view.git#fixes_android"

[2018-12-05 10:06] kingsword09 commented on #960
@showtan001 use https://github.com/compojoom/react-native-scrollable-tab-view#fixes_android，android can render, but ios performance is not well than before

[2018-12-05 11:05] falay26 commented on #960
@kingsword09 Mate sorry but im really a beginner in RN .. when i paste ur code ("react-native-scrollable-tab-view": "git+https://github.com/compojoom/react-native-scrollable-tab-view.git#fixes_android") in my package.json file i get an error in Snack-Expo .. { Version for "react-native-scrollable-tab-view" must be a valid semver version } this one. Can you be more specific for me please?

[2018-12-06 09:14] falay26 commented on #960
@showtan001 @kingsword09  OK, i installed git and npm install that forked module.. Still seeing a blank page in android simulator .. Any idea?

[2018-12-11 08:40] caigehui commented on #950
Same problem, any solution?

[2018-12-11 09:31] sumanpula commented on #623
hi,

update your min sdk version to 22 and react native version to 0.57 and use nestedScrollEnabled prop to work scrolling.

[2018-12-11 13:42] gHashTag commented on #126
I found an easier way using react-navigation lifecycle hooks

[code]

[code]

[2018-12-11 17:08] Nikosmonaut opened #964 "Nested tab view"
Hi,

I found a lot of related issues of almost the same problem but still have to response.

I would like to have nested tab view but scroll on the parent tabs. I tried also with ViewPagerAndroid component and react-native-tab-view combined. When I lock the child scroll, the parent scroll stops scroll either.

`

<ScrollableTabView

        <ScrollableTabView locked={true} tabLabel="ParentOne">

[2018-12-14 02:10] houwhu opened #965 "Tab 栏点击没任何反应，不会切换"
#### Tab 栏点击没任何反应，不会切换

我用的版本是：
[code]

[2018-12-14 09:16] ibrahemid commented on #962
i have OnePlus device running on the android pi as well, i believe its something related to the default style for the  tabBarText , i was able to fix the letter limit by overriding the Text-Style , try changing the text size or the fontFamily .

this worked for me 😋

[code]

Screenshots
https://imgur.com/a/hjG7ETP

[2018-12-14 10:30] fancyzhe commented on #965
在安卓上点击没有任何反应，不能切换

[2018-12-14 10:31] fancyzhe commented on #965
//源码
<ScrollableTabView
                initialPage={1}
                ref={(tabView) => {
                    this.tabView = tabView;
                }}
                onScroll={
                    (position) => {
                        console.log('滑动时的位置：' + position);
                    }
                }
                locked={false}
                tabBarPosition="overlayTop"

[2018-12-15 03:14] fancyzhe commented on #965
加了一个onChange={(...e)=>console.log(e)}
在iOS端就不可以切换tab了，那怎么改写切换tab时的回调呢

[2018-12-17 06:36] houwhu commented on #965
在外层组件上加上style={{flex: 1}}试试

[2018-12-17 06:37] #965 closed

[2018-12-19 08:53] Shubham1992 opened #966 "Listener is not supported for native driven events"
![simulator screen shot - iphone 6s - 2018-12-19 at 14 22 04](https://user-images.githubusercontent.com/13098558/50209405-a5ea8300-0399-11e9-9ec3-99c2455d3ca8.png)
Getting this error on using ScrollabletabView

[2018-12-19 13:33] robertovg opened #967 "How to make tabs to be aligned to the left"
Hi guys, simple question, using out of the box ScrollableTabView, and rendering a random number of tabs. Everything is fine when tabs number fill the width of the device, but when there are only a few tabs they got aligned to the centre Like you can see here, I tried all kind of styles but never align the tabs it selfs.

![screenshot 2018-12-19 at 14 30 41](https://user-images.githubusercontent.co

[2018-12-19 15:50] lifeiccl opened #968 "How to implement an infinite loop, swip to the last page and scroll to the first page"
How to implement an infinite loop,
eg. swip right to the last page will scroll to the first page

[2018-12-19 17:16] robertovg commented on #967
Ok, I have the solution, just using the property `tabsContainerStyle` with the `justifyContent: 'flex-start'` makes the trick... not in the documentation though...

[code]

[2018-12-19 19:16] VesperDev opened #969 "react-native-scrollable-tab-view move scroll to top"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

There is some way to scroll up the ScrollableTabView component
there is a way to do something similar to the below

` this.scrollref.scrollTo(

[2018-12-20 02:30] coolguy001tv commented on #962
@ibrahemid Thanks a lot. Setting the fontFamily to anything (even empty string) is ok for me. But it seems that setting fontSize doesn't work for me. However, it's a solution. Yet I don't know why, either.

[2018-12-20 03:00] #962 closed

[2018-12-20 12:00] zxymgl opened #970 "ScollableTabBar dont have line When init"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2018-12-21 09:40] adefiesta opened #971 "Only initial page is rendered, other pages are empty"
Tested on Android, I have 2 tabs (Tab 1 and Tab 2) with just a Text on each tab. I set initialPage = 1, and got this result:
Tab 1 = empty
Tab 2 = renders correctly

Tested the other way around and only the initialPage renders correctly.

Here's my code:

`<ScrollableTabView
                style={{ marginTop: Platform.OS === 'ios' ? 0 : StatusBar.currentHeight}}
                collapsableBar={co

[2018-12-21 09:51] allen1988 opened #972 "can inside scrollview like constraintlayout?"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2018-12-21 10:05] allen1988 commented on #972
update title

[2018-12-24 03:09] HowardTangHw commented on #724
Has it been fixed ?
Why close this bug?

[2018-12-24 12:55] varunkumar2 opened #973 "Support for react-native-web"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2018-12-25 04:04] ChauVV commented on #971
me too

[2018-12-26 01:52] sirzdy commented on #971
You may have a  try `prerenderingSiblingsNumber={Infinity}`

[2018-12-28 05:02] ankha0109 opened #975 "Demo gif and links down."
Please fix it.

[2019-01-03 09:55] chudaotrucnhan commented on #971
Easy way: create ref and goToPage after setTimeout 500ms =]]

If you want to change node_module.
1/ In folder react-native-scrollable-tab-view in node-module. Open index.js
2/ Find functions renderScrollableContent
3/ Replace AnimatedViewPagerAndroid >> ViewPagerAndroid and callback function onPageScroll
4/ Find function goToPage
5/ Remove getNode() of platform android.

![scroll0](https://user-im

[2019-01-05 13:53] buxiaoxia commented on #776
延迟300ms

[2019-01-06 08:48] buxiaoxia commented on #922
我也想知道有没有这样的布局

[2019-01-10 23:20] jfajardo commented on #518
I fix with it code but the swipe don't work
[code]

[2019-01-18 03:50] Dean-Qian commented on #950
Me too，so any solution？

[2019-01-18 13:37] devvlop commented on #377
Same for me, please update!

[2019-01-19 10:51] Susmitha-Bogala commented on #792
how to send props to target page using gotoPage()?
can you please me in that

[2019-01-21 03:09] obj-dayao commented on #973
When will probably support react-native-web ？very expecting

[2019-01-21 16:54] brenohq commented on #377
same here

[2019-01-22 14:44] michelmouallem commented on #653
Go to node_modules/react-native-scrollable-tab-view and open ScrollableTabBar.js
steps:
- On line 2 replace :
     const { ViewPropTypes} = ReactNative = require('react-native');
      **to :**
     const { ViewPropTypes,I18nManager} = ReactNative = require('react-native');
- on line 162 replace :
     const dynamicTabUnderline = {
      left: this.state._leftTabUnderline,
      width: this.state.

[2019-01-23 06:56] rjdangcc commented on #950
i met the same issue, has this been solved?

[2019-01-24 08:45] turfaa commented on #964
you can try https://github.com/turfaa/react-native-scrollable-tab-view-universal

[2019-01-25 07:16] varunon9 commented on #973
I implemented a very basic version here https://github.com/varunon9/react-native-web-scrollable-tab-view

[2019-01-25 09:08] xiaobie123 commented on #955
Me too，so any solution？

[2019-01-25 09:27] guzhouziyin opened #977 "Why is the contents of the ScrollableTabView container incomplete"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-01-25 15:57] parthv21 commented on #808
I am still facing this issue.

My code:

[code]

It works well on iOS, but on Android, I get this:

![screenshot_1548431847](https://user-images.githubusercontent.com/17941287/51756883-07fc7d80-20e8-11e9-8408-c4cb6a943414.png)

[2019-01-26 12:43] andyr6381 commented on #187
Also got it to work with the fork package.json:     "react-native-scrollable-tab-view": "git+https://github.com/turfaa/react-native-scrollable-tab-view-universal", and code below.

Only issue I have now is the scroll view sets whichever tab has the biggest height, hopefully find a way to set this dynamic.  Any suggestions?

`
import React from 'react';
import {
  Text, ScrollView, View
} from 'rea

[2019-01-26 14:04] parthv21 commented on #808
Okay it works now with the help of this:

[code]

Should probably include in the docs.

[2019-01-27 09:20] andyr6381 commented on #415
Hi, could anyone share source code of the above solution working, I've not been able to get it working on RN 57.8

[2019-01-29 09:59] MoonHoo commented on #851
@barbieri thx save my time, and I think 'this.state.sceneKeys.join(',')' is also has a problem,
my solution is as follows:
[code]
and it works great for my android device

[2019-01-29 10:41] ptomasroos commented on #851
Thanks for sharing

[2019-01-29 10:53] MoonHoo commented on #851
and I create a PR to fix this

[2019-01-29 15:55] JohnnyDevX opened #979 "Readme demo images broken"
Demo images in readme are broken

[2019-01-29 15:56] JohnnyDevX opened #980 "Demo link is broken"
Demo link is broken, images too

[2019-01-31 13:46] FlavioNascimento10 commented on #377
Same here

[2019-01-31 16:55] menq commented on #968
I wrote a lib based on this repo and implement this function.
https://github.com/menq/react-native-loop-scrollable-tab-view

[2019-01-31 20:19] gunduzcihat commented on #980
No one supports this package I guess.

[2019-02-02 09:29] Mrezagolbaba opened #982 "not scroll in scrollview tag"
i want to use react-native-scrollable-tab-view for tab navigation in my code and i use Scrollview for scroll in but not working.

`
 return(
             <ScrollView
                    contentContainerStyle={{flex: 1}} >
                    {this.renderHeader()}
                    <View style={styles.baner}/>
                    <View style={{flex: 1}}>
                        <ScrollableTabView

[2019-02-05 03:35] malonguwa commented on #982
@Mrezagolbaba are you using this lib in RN 0.58? after the ScrollView breaking change?

[2019-02-08 10:45] shuiRong commented on #813
[rn-collapsing-tab-bar](https://github.com/ashrithks/rn-collapsing-tab-bar) can help you.
It bases on this repo.

[2019-02-11 04:18] bharatidudhjiya commented on #724
I have same issue.

[2019-02-12 07:25] ke2933 opened #983 "Want more underlying property settings"
TouchableOpacity ScrollView   Their attributes

[2019-02-18 04:06] zxymgl opened #984 "tab点击卡死,不滑动.被点击置灰."
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-02-18 05:30] zxymgl commented on #984
在debug 模式下是正常的没有任何问题. 打出来的relase 包 也是没有任何问题

[2019-02-18 06:27] zxymgl commented on #984
![image](https://user-images.githubusercontent.com/10022573/52931957-3d178b00-3389-11e9-8a3f-1d744a53ef29.png)

[2019-02-18 07:21] #984 closed

[2019-02-18 11:02] alexpchin commented on #496
Please can you give information on why this was closed without an answer?

[2019-02-18 11:29] ptomasroos commented on #496
Because there is no example repo for me to reproduce

[2019-02-18 11:34] alexpchin commented on #496
Roger that. Let me knock one up...

[2019-02-18 12:04] alexpchin commented on #496
Here is a repo to demonstrate the problems: https://github.com/alexpchin/react-native-scrollable-tab-view-sticky-header-indicies

[2019-02-19 07:20] Akash-Kumar-Gaur opened #985 "Text in DefaultTabBar.js should accept allowFontScalling prop"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-02-19 19:06] alexpchin commented on #724
Please can we re-open this issue? I don't believe there is a clear solution to the problem? @laclys is very old and I don't believe ref's work like this anymore in react-native?

[2019-02-20 06:51] UnicornZhang opened #986 "How to change the font size of the activeTab?"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-02-20 07:00] UnicornZhang commented on #986
只能设置字体颜色，不能改变活动选项卡的大小，源码里面没有对应配置项

[2019-02-22 06:18] andyr6381 commented on #982
@malonguwa does this module not work with 0.58 since the breaking change? initially I couldn't get it to work but I've nested the tab content in a RN scrollview and seems to be working..

[code]

[2019-02-22 07:42] Marcello168 commented on #957
thanks，it works good

[2019-02-22 07:43] Marcello168 commented on #957
thanks，it works good

[2019-02-26 07:23] Mrezagolbaba opened #988 "change active tab dynamic"
i want to change active tab by pass params of navigation is this true?

`
        constructor(props){
                       super(props);
                        this.state={
                       initialPage:'',
                      activeTabValue:''
                }
           }

    async componentDidMount(){
        const {Params} = this.props.navigation.state;
            if ( Params.T===

[2019-02-26 09:02] raghavendramogeraya commented on #982
Using RN 56.0, same problem. Not able to scroll in RTL(when the contents are more)

[2019-03-01 03:38] IAmWilling opened #989 "Two-tier nesting problem"
I tried to nest two Scrollable TabView components
It is found that this is not feasible, in the nested components sliding left and right, will not perform the nested left and right sliding, or sliding is the outermost Scrollable TabView component.
Here is the code:
<Scrollable TabView
RenderTabBar={(props)=>(<NavHeader/>)}
Style={{zIndex:-1}}

<View tabLabel="1">
<Text>1</Text>
</View>
<View tabLa

[2019-03-05 06:39] xgAnd opened #990 "use SpaceTabBarBorderView contain webview has a error"
the version is  "react-native-scrollable-tab-view": "0.10.0",
when the content has the webview tab. when i switch the tab sometimes the url will be load in the android system browser.the wenview i see androidstudio log get the error
03-05 14:16:53.139 31695-31695/W/cr_AwContents: Application attempted to call on a destroyed WebView
    java.lang.Throwable
        at org.chromium.android_webview.Aw

[2019-03-05 09:49] devilyard commented on #483
this works

[2019-03-05 11:52] alexpchin commented on #835
I'm just adding a comment to this... I'm not 100% sure if I'm correct but I believe this might solve your problem?

[code]

[2019-03-05 11:56] alexpchin commented on #415
I'm just adding a comment to this... I'm not 100% sure if I'm correct but I believe this might solve your problem?

[code]

[2019-03-05 11:56] alexpchin commented on #724
I'm just adding a comment to this... I'm not 100% sure if I'm correct but I believe this might solve our problem?

[code]

[2019-03-05 11:56] alexpchin commented on #258
I'm just adding a comment to this... I'm not 100% sure if I'm correct but I believe this might solve the problem?

[code]

[2019-03-06 10:32] ke2933 opened #991 "ScrollableTabBar style"
renderTabBar={() => <ScrollableTabBar style={{ height: 30}} />}

我的style无法覆盖默认style

[2019-03-11 07:19] harikanammi commented on #812
hi @JoaoTMDias, can you resolve this issue??? Please help me....

[2019-03-11 12:01] FullMoon04 commented on #873
I got same issue. Please reopen this issue.

[2019-03-16 13:10] cenfei opened #992 "how to change unactived tabbarline style"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-03-19 09:28] guoquanonly opened #993 "ScrollableTabView的tab选中错乱"
<ScrollableTabView
                    tabBarUnderlineStyle={styles.tabBarLine}
                    tabBarTextStyle={{fontWeight: "normal"}}
                    renderTabBar={()=>(<ScrollableTabBar/>)}
                    page={this.props.navigation.getParam('index', 0)}
                    initialPage={this.props.navigation.getParam('index', 0)}
                    onChangeTab={(obj) => {

[2019-03-25 06:46] MrLaibin commented on #660
why close issue?

[2019-03-28 02:41] ImVeryGood opened #995 "我使用view包裹之后，就不能切换了"
我使用view包裹之后，就不能切换了

[2019-03-28 10:02] omerman opened #996 "[Questions] does the library support RTL? & does custom tabs get injected with position prop so I can implement animations myself"
Im researching a tab view that supports scrolling such as this lib.

So here are my questions:

1. does the library support RTL?
2. does custom tabs get injected with position prop so I can implement animations myself
  According to [this](https://github.com/ptomasroos/react-native-scrollable-tab-view/blob/master/DefaultTabBar.js) it seems like props.scrollValue is what I'm looking for, is that ri

[2019-03-28 10:42] omerman commented on #996
Used the simple example and checked everything, this is what I came up with:

1. It looks like RTL is not working well
  - [Android only] The scrolling is scrolls to the opposite directions.
  - [Android & IOS] The Indicator goes to the opposite direction.

2. There is a useful `onScoll` prop that receives the value of the scroll, this value can be used to make my own animations.

Thanks again for

[2019-03-29 12:09] bbeckk commented on #982
"react-native": "0.59.2", same problem. The contents inside the tab are not visible as well.

[2019-03-29 12:11] bbeckk commented on #982
"react-native": "0.59.2", same problem. The contents inside the tab are not visible as well.

[code]

[2019-03-30 13:41] omerman commented on #996
Submitted a PR #997

that takes care of the RTL issues I encountered.

[2019-04-02 07:13] dinhtu0802 commented on #982
Same problem. U can fix it?

[2019-04-03 08:13] wublack commented on #982
Me too

[2019-04-03 18:42] vitalosrac opened #998 "Navigate and keep the header"
- [*] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [*] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

Hi everyone,

I want to use this package but I've a question.

Is it possible to navigate between screen and keep the header tab ?

## Steps to Reproduce
For exampl

[2019-04-03 20:27] #998 closed

[2019-04-04 17:23] nomi9995 commented on #730
i also have the same issue

[2019-04-07 14:33] yuyongmao opened #999 "Something wrong on react-native@0.59.3 android platform"
![image](https://user-images.githubusercontent.com/8936260/55685072-cf4d1000-5984-11e9-8b21-1c2d6a04072f.png)
I use the code below:
export default class App extends Component {
  render() {
    return (
      <View style={styles.container}>
        <ScrollableTabView style={{ flex: 1,marginTop:60,backgroundColor:'yellow' }}>
          <View style={{ flex: 1,backgroundColor:'red' }} tabLabel="React

[2019-04-10 07:33] showtan001 commented on #991
用DefaultTabBar

[2019-04-10 11:13] georgian3688 commented on #346
@EJohnF Did you able to get it work? I am also getting the exact issue.

I have **scrollView** inside scrollableTabView, its coming randomly sometimes blank. I am using react-native version 0.54.4 and lib version 0.8.0.

@ptomasroos Can you please tell me any workaround for this?

[2019-04-11 07:22] Ekhui commented on #999
same problem

[2019-04-11 11:08] EJohnF commented on #346
Sorry, I don't remember already what was there :/

[2019-04-14 10:30] GpyProject commented on #999
I meet the issue either ,it's worked when I open the debug js remotely ,but it's doesn't  work  when i close debug mode,

[2019-04-15 13:25] wyn0731 commented on #704
+1 still not working

[2019-04-16 10:12] zhuiye commented on #730
+1,Did have some suggestion to slove same problem

[2019-04-16 10:20] wyn0731 commented on #715
"react-native": "0.57.8",
    "react-native-scrollable-tab-view": "^0.10.0",

still not working. +1

[2019-04-16 11:26] tumor800 opened #1000 "method React.cloneElement when cloning animated component crash on android API 29 (Pie)"
- react-native-scrollable-tab-view [v0.10.0](https://www.npmjs.com/package/react-native-scrollable-tab-view/v/0.10.0)
- react-native [v0.59.0](https://www.npmjs.com/package/react-native/v/0.59.0)

android API 29 (Pie) got crash when pass animated component with transform style to `renderTabBar` prop.
[code]
everything goes fine after removing React.cloneElement on this line (https://github.com/pto

[2019-04-18 10:46] tumor800 commented on #1000
solved after moving `Animated.View` inside a class 🙇

[2019-04-18 10:46] #1000 closed

[2019-04-19 01:45] YanmaY commented on #873
老铁，你咋解决的啊？

[2019-04-19 01:46] YanmaY commented on #873
@stupidWall 老铁，你咋解决的啊？

[2019-04-19 03:14] WowJesse commented on #892
me too

[2019-04-19 03:19] WowJesse opened #1002 "0.10.0 version，flatlist within it, onReachEnd don't be executed"

[2019-04-22 07:19] Hiroshi2033 commented on #873
I'm faced this issue too. simple just maybe you are using **initialPage** as your page index.
just need to replace **initialPage** to **page**.

[2019-04-24 02:06] YanmaY commented on #873
@Hiroshi2033 Thank you very much

[2019-04-25 07:07] gurleen-kaur-30 commented on #510
downgrading is making the component slow

[2019-04-25 15:00] vantb9x commented on #982
Me too. I meet issue on ios. On android everything is ok

[2019-04-26 13:54] lucamir commented on #999
@yuyongmao i have the same problem.
Did you find any solution ?

[2019-04-26 15:30] nialexsan opened #1003 "Warning about ViewPagerAndroid on React Native 0.59"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

```ExceptionsManager.js:82 Warning: ViewPagerAndroid has been extracted from react-native core and will be removed in a future release. It can now be installed and

[2019-04-27 08:26] GpyProject commented on #999
if you call
onChangeTab={(index) => {
                    console.log(index)
                }}
then close it，worked

[2019-04-27 11:33] gentlemanYu opened #1004 "Custom tabBar special card, open debugging mode will not card, do not know what situation, the program directly crash"
![image](https://user-images.githubusercontent.com/26783368/56849141-5e659c00-6923-11e9-80d5-c3295d63dec8.png)

"react-native-scrollable-tab-view": "^0.10.0",

[2019-04-27 11:34] gentlemanYu commented on #1004
help me!

[2019-04-27 12:46] gentlemanYu commented on #1004
"react": "16.6.3",
    "react-native": "0.58.6",

[2019-04-27 12:49] gentlemanYu commented on #1004
As long as you customize the tabbar special card, ios and android are the same

[2019-04-30 10:36] toanluongnhu1709 commented on #420
<ScrollableTabView  tabBarUnderlineStyle={ {backgroundColor:'red', height:3} } />

[2019-05-01 18:14] bear-junior commented on #982
Hi guys, you should use react-native-nested-scroll-view library and replace <ScrollView> with <NestedScrollView> from this package in ScrollableTabBar, you have to rewrite ScrollableTabView as well and remove all declaration for Android, so every declaration for iOS is correct for Android now. You can do this with patch-package for example or wait for fix from contributors 💃

[2019-05-05 20:16] nomi9995 commented on #991
you need to pass flex like
`<ScrollableTabBar style={{ flex: 0.6}} />`

[2019-05-07 12:54] thisisbalaG opened #1006 "tabBarInactiveTextColor Props is not working"
"react-native": "0.55.3"
"react-native-scrollable-tab-view": "^0.10.0",

Running on android emulator : android version : 7.0

Issue:

**tabBarInactiveTextColor Props is not working . please help**

[code]

[2019-05-08 07:29] swdenglian opened #1007 "[ onChangeTab ] open debugging mode is normal, but "stop Remote js Debugging", the app will slow and crash."
this problem like #1004  and #888 .

demo code:
[code]

有问题的代码：

https://github.com/ptomasroos/react-native-scrollable-tab-view/blob/9d5d0f4aedc886e17f6be9d2e29d8adef6de654a/index.js#L307-L313

If you comment out this code（ref line）, there will be no problem.
注释以上代码中的 ref 那一行 这个问题将得到解决。

[2019-05-08 09:08] tokinonagare opened #1008 "Update react"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

Event componentWillRecieveProps will deprecate after updating react.
Use getDerivedStateFromProps() and componentDidUpdate() instead componentWillReceiveProps();

#

[2019-05-10 19:10] damafeez commented on #999
I'm having the same issue

[2019-05-12 12:13] deepakSinghPapola opened #1009 "Disable tabbar click - screen change"
locked props is working fine but i can still jump to another screens by clicking on tab's name.
Is there any way to disable tab bar clicks, so that i can not change a page without completing some steps n a page..?

[2019-05-16 03:32] fightingljm commented on #927
你们解决了吗

[2019-05-23 06:33] ajmalsalim commented on #955
https://www.npmjs.com/package/react-native-scrollable-tab-view-universal

[2019-05-23 07:45] srhtylmz19 opened #1010 "how to change active tab bar background color?"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-05-27 05:42] ivanzhang2 commented on #385
can you share your custom component?

[2019-05-28 08:25] rzrobert commented on #508
[code]
 same problem

[2019-05-28 21:45] Nahom-ab commented on #1003
@ptomasroos  any thing new on this issue?

[2019-05-30 09:42] chenhuaxian opened #1011 "How to add a collapsible header"

[2019-06-02 10:20] babelom commented on #1010
Hi !

Here I've posted a solution, #536.

Thanks

[2019-06-07 07:11] RohitRajpal commented on #654
I am also facing the same issue.View not render properly **on clicking tab bars**,some times loads too slow, sometimes underline don't appear.
On swipe it works fine.

[2019-06-12 10:21] bigkrys opened #1014 "The underline will flash as you swipe left and right"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

When you slide tabs left and right, the underscore starts with the next page you want, and then flashes

## Steps to Reproduce

## Expected Behavior

## Actual Beha

[2019-06-12 10:22] bigkrys commented on #1014
` <ScrollableTabView
                                tabBarPosition='top'
                                locked={false} //表示手指是否能拖动视图，默认为false（表示可以拖动）
                                scrollWithoutAnimation={true}   //视图切换是否有动画
                                style={styles.scrollBar}
                                renderTabBar={() => <ScrollableTabBar
                                    tabNames=

[2019-06-13 10:50] Akash-Kumar-Gaur commented on #969
This worked for me

[code]

[2019-06-13 10:50] summerkiflain commented on #724
Yes, this needs to reopen, @laclys answer doesn't anymore, as this.refs doesn't work like that anymore...

[2019-06-17 04:15] leon2835 opened #1016 "Underline style"
Hi there, how can i maximize the width of underline following the label container. Thank You
![Capture](https://user-images.githubusercontent.com/19604759/59578162-770b5a80-90f9-11e9-8dd9-14f2d361214c.PNG)

[2019-06-18 04:38] vantb9x commented on #675
Hi @damiaozi , have you resolved your issue? I meet the same as you with library

[2019-06-18 15:12] summerkiflain commented on #675
@damiaozi @skv-headless, I am also facing the same issue and yes I am using it with react-native-web, Is there any solution for this?

[2019-06-18 16:05] summerkiflain commented on #255
@skv-headless I am using this with expo sdk33, react-native-web, I don't have `webpack.config.js` how can I resolve './Button' properly, I can see that there are 3 type of button available. ios, android and windows.

[2019-06-19 02:38] astro11 commented on #675
Same here, has anyone come across a solution?

[2019-06-20 06:32] kentastudillo commented on #943
Why was this closed without a comment?

[2019-06-20 16:42] joshuakoh7 opened #1017 "onChangeTab not working with icon tab bar under FacebookExample"
Trying to change the header with tab switch but adding onTabSwitch causes the other tabs except the first to not render and the app crashes after a few swipes.

Nothing is logged under tabSwitch function.

[code]
[code]

[2019-06-21 06:31] Jeijie commented on #385
Hi, anyone can share a  demo ?

[2019-06-21 07:15] Greendelwold commented on #1007
try this:
`
<View style={{flex: 1}}>
    <ScrollableTabView />
</View>
`
wrapped with View, hope it works for you

[2019-06-24 10:50] Michael-lu-ke opened #1018 "ViewPagerAndroid has been extracted from react-native core（ "react-native": "0.60.0-rc.2"）"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-06-24 10:51] Michael-lu-ke commented on #1018
The Android project is not working

[2019-06-25 14:11] raivieiraadriano92 opened #1019 "Publish new version on npm"
Please, publish a new version on npm with fix: https://github.com/PizzaLiu/react-native-scrollable-tab-view/commit/b45bde7fc11b688d0879f62dddb0018dc4355ac9

Thanks

[2019-06-27 07:00] casey1991 commented on #991
@types/react-native-scrollable-tab-view DefaultTabBarProps  style?:ViewStyle not exit

[2019-06-27 08:24] waitzhou opened #1020 "how to set tabitem width?"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

i have many item need to display,like this:

![Screenshot_20190627_162258_com jingweiclassic](https://user-images.githubusercontent.com/18730241/60249690-ddf9f200-9

[2019-06-27 15:25] himanshuc3 opened #1021 "View around text?"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

![Screenshot 2019-06-27 at 8 05 08 PM](https://user-images.githubusercontent.com/19166045/60278509-3abbd380-991d-11e9-9328-9f0aef79f327.png)
I am trying to implemen

[2019-06-28 22:31] xclidongbo commented on #750
@kubilaytural  Thanks. It`s worked for me.

[2019-07-04 10:39] ChauVV commented on #352
You can try this
[https://github.com/ChauVV/React-Native-Tinder-Tabbar](url)
![demo](https://user-images.githubusercontent.com/16476877/60660769-a43e6380-9e82-11e9-85e9-010c21d59c45.gif)

[2019-07-04 10:47] recepkocur commented on #352
wow amazing!!!!

[2019-07-05 06:41] Tracklous commented on #1007
Actually yes the problem is with the onChangeTab make sure you **have not put any console logs or console warn ** in between the onChangeTab prop block.

 I've fixed this scenario in my app by doing this.

[2019-07-08 09:09] sps100 commented on #1003
I have the same issue

[2019-07-10 01:47] sinhpn92 commented on #1007
I have same issue :(
My info:
[code]

[2019-07-10 02:39] sinhpn92 opened #1023 "Laggy and crash when console log in some method"
I have put console log in some methods: `onChangeTab`, `renderTabBar`,... After that, my app is laggy and crash then :(

My device info:
[code]

[2019-07-11 01:50] nitaking commented on #1019
agree.

[2019-07-11 13:30] laurentS commented on #1019
For now, I've just updated my package.json with:
[code]

It does the job with RN 0.59, but agree that an update would be nice.

[2019-07-11 13:31] laurentS commented on #1018
See https://github.com/ptomasroos/react-native-scrollable-tab-view/issues/1019#issuecomment-510486204 for a temporary fix.

[2019-07-11 14:57] tkaplan9 opened #1024 "How to enable/disable scrolling based on scroll direction?"
I'm wondering if is there any way to enable/disable directional scrolling. I know you can use locked prop but that locks scrolling in either direction, what I want to achieve is, say, when the active tab is the one at index 1, I want to be able to enable scrolling to tab at index 2 (enable scroll right), but not to the tab at index 0 (disable scroll left). It's important to mention that when you n

[2019-07-13 02:38] Razorholt commented on #999
Same here. @GpyProject : Where do you add the lines you suggested? Thanks!

[2019-07-13 05:33] Razorholt commented on #999
I fixed it by switching DefaultTabBar with ScrollableTabBar (import it first).

[code]
then

[code]

[2019-07-16 09:50] nik910 commented on #518
@lenkavon did u get the fix for this?

[2019-07-19 03:58] hotaryuzaki commented on #297
Are you solved the issue?
Hey where is _updateScrollValue function????????

[2019-07-22 09:14] tejachundru commented on #1021
You can create a Custom Tab Bar, then you pass the Custom tab bar Component into renderTabBar Method. Check the  **Injecting a custom tab bar**
in [https://github.com/ptomasroos/react-native-scrollable-tab-view/blob/master/README.md]

[2019-07-22 18:08] tejachundru commented on #1020
You can pass styles to tabs as a prop, from renderTabBar
**Example**
`<ScrollableTabView
      initialPage={0}
      renderTabBar={() => (
        <ScrollableTabBar tabStyle={{ width: 100 }} />
      )}

      {renderContent()}
    </ScrollableTabView>
  );`

[2019-07-29 11:57] alexpchin opened #1025 "Add a new Button for Expo Web"
Please can we add a new Button for use with the Expo web platform? Please see the image below:
![Screen Shot 2019-07-29 at 12 56 08](https://user-images.githubusercontent.com/40461/62046649-63770780-b200-11e9-989d-c52a4f2458f7.png)

[2019-07-30 02:41] bohehe commented on #1020
Hi, When I set width 100 for ScrollableTabBar, the  ActivityTabUnderLine is not under the tab bar. Any ideas?

[2019-07-30 02:56] bohehe commented on #967
Great! This works for me. BTW,  the <ScrollableTabStyled /> should be <ScrollableTabBar />

[2019-07-30 03:16] bohehe commented on #754
Great, this helps

[2019-07-31 08:19] ngxu opened #1027 "When "collapsable Bar" is used, the switching tab view cannot remain in state, resulting in "tab-view" reloading"
When "collapsable Bar" is used, the switching tab view cannot remain in state, resulting in "tab-view" reloading

![1564556778448](https://user-images.githubusercontent.com/43433064/62195563-d920d600-b3ae-11e9-9cb8-8d6bf38e0582.gif)

help! help!  Thank you very much indeed

[2019-07-31 08:21] ngxu commented on #1027
What to do so that it won't be reloaded?

@valdio/react-native-scrollable-tabview 0.8.9

[2019-07-31 08:24] ngxu commented on #1027
What can I do to avoid reloading?

@ valdio / react-native-scrollable-tabview 0.8.9

[2019-07-31 17:08] aamirnbs commented on #950
I have the same issue on Android S9. Any solution? Thanks

[2019-08-03 03:35] mlbz198 commented on #1019
Thank you so much!

[2019-08-05 01:59] liu-miao-miao commented on #982
same problme, the ScrollableTabView can`t inside the ScrollView, it will lose height, so anyone fixed it?

[2019-08-05 02:32] HiralBarot1512 commented on #364
Any solution for this issue?

[2019-08-09 09:45] zelin-zx commented on #995
我也是,你找到解决方法了吗

[2019-08-09 09:47] zelin-zx opened #1028 "使用视图包裹后无法切换tab"
<View style={{
                width: 400
            }}>
                <ScrollableTabView
                    style={styles.container}
                    renderTabBar={() => <DefaultTabBar />}
                    tabBarUnderlineStyle={styles.lineStyle}
                    tabBarActiveTextColor='#FF0000'>

                    <Text style={styles.textStyle} tabLabel='娱乐'>娱乐</Text>

[2019-08-12 11:41] liu-miao-miao commented on #1027
你好，请问你的ScrollableTabView是嵌套在ScrollView里的吗，你的tabBar是会滚动吸顶的吗？想知道你是怎么实现的，我现在正在做tab栏滚动吸顶，但是试了好多方法都不行。
然后如果你想切换tab不重新加载的话，我好像知道怎么弄

[2019-08-14 06:21] harry-harry123 commented on #943
Why was this closed without a comment? Was this resolved?

[2019-08-14 06:21] harry-harry123 commented on #943
Why was this closed without a comment? Was this resolved?

[2019-08-14 06:21] harry-harry123 commented on #943
Why was this closed without a comment? Was this resolved

- [ ]

[2019-08-14 09:23] liu-miao-miao commented on #496
same issue. when ScrollableTabView inside ScrollView. inside ScrollableTabView is a flatlist with dynamic data. so it`s height is dynamic. then i got problem:
    problem 1: when set stickyHeaderIndices, the ScrollableTabView can`t scroll, but it should can;
    problem 2: not set stickyHeaderIndices, it can scroll, but flatList onEndReached auto trigger;
i try a lot, but still can`t fix it. so an

[2019-08-15 09:29] tentechgroup opened #1029 "underline is not change"
tab is changed but underline is not according to selection, this only happend IOS

![image](https://user-images.githubusercontent.com/46642361/63086324-38234500-bf82-11e9-8aac-70669620942c.png)

![image](https://user-images.githubusercontent.com/46642361/63086080-a9aec380-bf81-11e9-845b-a69e92438556.png)

[2019-08-16 17:31] Alexuisis commented on #730
So the issue is with all horizontal sliders.
One workaround is to lock the tab with nested swipeable content and onChangeTab to lock/unlock  tabs.
Another is to capture and handle PanResponder. Maybe someone will look into this and come up with solution?

[2019-08-20 08:44] frankyLHJ commented on #1027
@ngxu If the subview of each tab is a flatlist, can the onEndReached function be executed normally?

[2019-08-23 07:36] wqxwqx commented on #1028
尝试flex:1

[2019-08-27 09:27] crnaidu15 commented on #518
Any update for this fix?

[2019-08-30 06:49] harikanammi commented on #1029
hi @tentechgroup, please give this style to tabBarUnderlineStyle  `backgroundColor: "transparent"`.

[2019-08-31 11:54] ezeoke commented on #861
Better still....use TouchableWithoutFeedback

[2019-09-02 11:06] SteFF1997 commented on #999
[code]

[2019-09-03 04:54] nabettu commented on #715
[code]
still not working too🤔

I hotfixed with the following code.
[code]

[2019-09-04 06:30] ptomasroos commented on #715
Its not working because we're using Android Pager which can't work with nested ScrollView's it needs to be rewritten with a ScrollView instead to support nesting

[2019-09-05 10:13] Cookizza commented on #415
Today marks 3 years of this issue in React Native.

You'd think it would be solvable without needing to add event listeners and calculate heights based on screen sizes.

Is there any solutions available to us today that wasn't possible in 2016?

[2019-09-08 17:19] krakz999 commented on #730
Same issue here.

[2019-09-09 19:53] dquessenberry commented on #1003
I am having this issue too. I'm running RN v0.60.5 and react-native-scrollable-tab-view v 0.10.0. Correct me if I am wrong, but isn't this module a branch off react-native-community/react-native-tab-view? If so, the react-native-tab-view is also experiencing the same issue and I believe they are trying to remove ViewPagerAndroid entirely, see https://github.com/react-native-community/react-native-

[2019-09-10 06:38] zfing opened #1033 "0.10.0版本，在android上会显示其他tabitems的内容？"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-09-10 07:30] ptomasroos commented on #1003
No its not the same @dquessenberry
Their originated from expo AFAIK and their navigation library

[2019-09-10 11:08] zfing commented on #1033
this my error,sorry

[2019-09-10 11:08] #1033 closed

[2019-09-11 02:53] zfing commented on #754
ths

[2019-09-11 10:33] lvtanxi opened #1034 "跳转到其他页面后原来的tab无法滑动了"
"prop-types": "15.6.0",
    "react": "16.0.0-alpha.12",
    "react-addons-update": "15.6.2",
    "react-native": "0.48.0",
    "react-native-modal-datetime-picker": "^7.5.0",
    "react-native-modal-dropdown": "^0.6.2",
    "react-native-scrollable-tab-view": "^0.10.0"

具体的操作如下：
http://note.youdao.com/noteshare?id=4a66b6fae4b91923f862af88cdce449f

[2019-09-16 05:14] naiduasn commented on #982
any fix for the above?

[2019-09-19 02:11] AlexK777 opened #1035 "Incompatible With React Native 0.61 Due to ViewPagerAndroid"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

`ViewPagerAndroid` is deprecated and has been pulled out of core `react-native`. `react-native-viewpager` should be used instead and needs to be required from `http

[2019-09-20 15:18] jxintang commented on #982
any news?

[2019-09-25 06:02] orcunorcun commented on #1035
Can you change and release it, please?

[2019-09-25 06:02] orcunorcun commented on #1035
Same issue. Can you change and release it, please?

[2019-09-25 15:45] jayshooo commented on #1035
I had the same problem. So I made a pull request.
Hopefully it will merge.

https://github.com/ptomasroos/react-native-scrollable-tab-view/pull/1038

[2019-09-26 18:00] ivanguimam commented on #1035
same problem

[2019-09-27 16:46] mokai commented on #1035
+1

[2019-09-29 02:56] snail714 commented on #1035
+1

[2019-09-29 03:02] 18605161612 commented on #1035
+1

[2019-09-30 06:31] asttle-vuram commented on #1029
@tentechgroup please pass initialPage={currentTab} and enable scrollWithoutAnimation={true}.This helped me.

[2019-10-01 02:48] orcunorcun commented on #1035
Please merge @jayshooo 's PR. It's looks working well.

[2019-10-01 04:49] dididy opened #1040 "Demo section Image, appetize demo is broken on README.md"
- [x] I have searched [#979](https://github.com/ptomasroos/react-native-scrollable-tab-view/issues/979)
- [x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

You just watch README.md rendered by github, you can find below problem
<img width="1006" alt="Screen Shot 2019-10-01 at 11 37 21 AM" src="https://use

[2019-10-04 10:06] HaManhTuan commented on #808
Chỉ là thuộc tính: width: '100%' là được

[2019-10-05 15:55] ahmedakmal525 commented on #1035
Please merge @jayshooo 's [PR](https://github.com/ptomasroos/react-native-scrollable-tab-view/pull/1038)

[2019-10-06 07:49] Houman7601 commented on #1035
same issue

[2019-10-08 03:19] oneppiece commented on #1035
Please merge @jayshooo 's PR.

[2019-10-08 09:43] longnk-1447 commented on #1035
not working in android? ios worked

[2019-10-10 08:12] ptomasroos commented on #1035
We're waiting on PR to land in order to fix this

[2019-10-11 08:42] titanchen2000 opened #1044 "Horizontal gesture conflict with WebView"
My ScrollableTabView contains RN page & WebView page. When I horizontal scroll the page component , the RN page will response the gesture correctly,  but the WebView page component can’t grant the gesture that makes the ScrollableTabView change the Tab. How can I ensure the WebView page component can horizontal scroll

[2019-10-13 09:45] saravanabalagi commented on #1040
Also, it would be great to have gifs added to repo and have them linked in readme in addition to fixing appetize demo.

[2019-10-13 11:23] FrancoisDeBellescize commented on #255
@summerkiflain you have to follow the doc : https://docs.expo.io/versions/v33.0.0/guides/customizing-webpack/

`expo customize:web` will allow you to generate a webpack.config.js

[2019-10-18 15:53] natasha08n commented on #714
It can be helpful for everyone else:
You can hide keyboard using `Keyboard.dismiss()` inside `onChangeTab` or `onScroll` events, onChangeTab handles new tab index, onScroll handles position and you can calculate what tab is currently active
And do not forget to write at the top of the file `import { Keyboard } from 'react-native'`

[2019-10-20 10:25] ptomasroos commented on #1035
This is fixed in master, will be released as a new version in any day.

[2019-10-20 10:25] #1035 closed

[2019-10-20 10:25] ptomasroos commented on #1025
Feel free to send a PR!

[2019-10-21 13:49] sdevansh96 opened #1045 "tabBarTextStyle for active or inactive tabLabel"
Hello,
Is there a way to add custom style like custom border color to an active and inactive tabLabel?

[2019-10-23 22:25] saravanabalagi commented on #833
May I know why this was closed? I feel like adding another attribute (say tabCaption) and passing that in child props would be very helpful when we want both label and icon.

[2019-10-24 06:23] Heena112 opened #1046 "component does not re-render"
When navigation goes back to previous screen after pushes a new screen it does not trigger onLayout again and the component does not re-render!!!!

[2019-10-25 15:03] lukewlms commented on #1035
In the meantime you can get the change like this:

`yarn add https://github.com/ptomasroos/react-native-scrollable-tab-view#8ac09a9dee6c05906e9bfea8b4c736d3d5707a30`

[2019-10-25 19:19] LeonardodeLima commented on #415
+1

[2019-10-28 00:16] nonotest commented on #1035
hello,
just wondering if anyone else had to add viewpager as a dependency to their root project for this to work?
Kept getting requireNativeComponent : "RNCViewPager" was not found in the UIManager" without it.
Thanks!

[2019-10-28 02:46] KingAmo opened #1047 "is there a plan to Publish a new version on npm ?"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

is there a plan to publish a new version on `npm` ?  the last publish is a year ago and the master branch fixed may bugs

## Steps to Reproduce

## Expected Behavio

[2019-10-28 12:36] ptomasroos commented on #1047
Released as 1.0.0 breaking change

[2019-10-28 12:36] #1047 closed

[2019-10-28 12:37] ptomasroos commented on #1018
Released as 1.0.0

[2019-10-28 12:37] #1018 closed

[2019-10-28 12:37] ptomasroos commented on #1019
Released as 1.0.0

[2019-10-28 12:37] #1019 closed

[2019-10-28 13:26] KingAmo commented on #1047
@ptomasroos would you please give a change log ? or update the `readme` ?

[2019-10-28 13:27] ptomasroos commented on #1047
This project has always been using the release tab.
https://github.com/ptomasroos/react-native-scrollable-tab-view/releases

[2019-10-28 13:29] ptomasroos commented on #1047
If you wanna compare to tag's here a tip
https://github.com/ptomasroos/react-native-scrollable-tab-view/compare/v0.10.0%E2%80%A6/v1.0.0

[2019-10-28 20:32] zmnv opened #1048 "Don't forget to update package for Yarn"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

```yarn add react-native-scrollable-tab-view@latest```

or

```yarn add react-native-scrollable-tab-view@1.0.0```

## Expected Behavior

inst

[2019-10-29 09:48] zmnv commented on #1048
Thanks!

[2019-10-29 09:48] #1048 closed

[2019-10-29 10:08] zmnv opened #1050 "Android: Invariant Violation requireNativeComponent: "RNCViewPager" was ton found in the UIManager"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

I've just update react-native-scrollable-tab-view to 1.0.0 by yarn. But still have error.

## Steps to Reproduce

[code]

[code]

## Expected Behavior

Should work

[2019-10-29 10:16] zmnv commented on #1050
I look at:
/node_modules/react-native-scrollable-tab-view/index.js

Why do you use `Animated.ScrollView` for iOS and `AnimatedViewPagerAndroid` for Android? Can you use `Animated.ScrollView` for all?

also there are definitions which don't used

[2019-10-29 10:20] zmnv commented on #1035
@nonotest I have it too.
https://github.com/ptomasroos/react-native-scrollable-tab-view/issues/1050

[2019-10-29 11:13] zmnv commented on #1050
temporary solution is just:

[code]

but I don't want to install that module direct into project :(

[2019-10-29 12:14] plimerence commented on #1016
https://github.com/plimerence/react-native-scrollable-tab-view   the Repositories
 can solve u problem,  just set          <ScrollableTabBar
              underlineStyle={{
                width: 20,
              }}
              style={{ borderWidth: 0 }}
              {...props}
            />

the core code is       fixUnderLine = {
      left: Animated.add(dynamicTabUnderline.left, Animated.d

[2019-10-29 12:15] plimerence commented on #898
https://github.com/plimerence/react-native-scrollable-tab-view the Repositories
can solve u problem, just set <ScrollableTabBar
underlineStyle={{
width: 20,
}}
style={{ borderWidth: 0 }}
{...props}
/>

the core code is fixUnderLine = {
left: Animated.add(dynamicTabUnderline.left, Animated.divide(Animated.add(dynamicTabUnderline.width, new Animated.Value(-underLineWidth)), 2)),
width: new Animated.

[2019-10-29 12:16] plimerence commented on #812
https://github.com/plimerence/react-native-scrollable-tab-view the Repositories
can solve u problem, just set <ScrollableTabBar
underlineStyle={{
width: 20,
}}
style={{ borderWidth: 0 }}
{...props}
/>

the core code is fixUnderLine = {
left: Animated.add(dynamicTabUnderline.left, Animated.divide(Animated.add(dynamicTabUnderline.width, new Animated.Value(-underLineWidth)), 2)),
width: new Animated.

[2019-10-29 12:33] ptomasroos commented on #1050
I would love to have a PR on a scroll based solution of android. It’s there for historical reasons.

[2019-10-31 00:04] haack commented on #1050
I have the same issue on Android. Manually adding `@react-native-community/viewpager` didn't solve the problem for me.

[2019-10-31 03:22] jiraiya103 commented on #1050
same issue ...

[2019-11-01 14:50] dididy opened #1052 "Can I refactoring example code?"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce
Current `react-native-scrollabe-tab-view` example code is very old.

I'll contribute to refactoring example code to fresh that at least runnab

[2019-11-02 09:02] cereme commented on #1050
I have same issue too

[2019-11-04 04:43] vetrivendhan48 commented on #1050
I guess there will be no issue in doing that I guess. npm will manage dependencies right? Is there will be any issue will come if you modify its dependencies? Please let me know.
Thanks

[2019-11-04 09:51] guest095 opened #1053 "How to rerender viewpager on tab reclicked?"
in scrollable tab view how to rerender viewpager's view in relclicked tab? current behaviour is only
one time viewpagers component in rendering

[2019-11-04 13:32] zmnv commented on #1050
@vetrivendhan48 not a big deal actually, but.

But when you search in project directory `@react-native-community/viewpager` it's returns nothing. Then other developers thinks like 'oh, that dependency is not used in project so it unnecessary, I can delete it!'.

[2019-11-06 15:01] azamouchi commented on #1050
`yarn add @react-native-community/viewpager` on it's own does not solve the issue, you need to link the package also using `react-native link @react-native-community/viewpager`

[2019-11-07 19:56] ptomasroos commented on #1052
That would be a great improvement @dididy !

[2019-11-08 02:43] Josin22 commented on #982
RN 0.61.2, it can't scroll the ScrollableTabView inside the ScrollView!!!!

[2019-11-08 02:48] Josin22 commented on #813
same !

[2019-11-08 03:16] w13808604 commented on #1050
same issue ..anybody solve it

[2019-11-08 04:10] chenyanfei-m commented on #1050
`yarn add @react-native-community/viewpager`
and link it can solve it

[2019-11-09 09:49] basilaiman commented on #415
2 years and +1

[2019-11-09 09:50] ptomasroos commented on #415
Feel free to send a fix @basilaiman

[2019-11-12 04:46] mastahed commented on #1050
Any fix for expo 35 with RN 0.59? works well on IOS, android shows the same error. Tried link and manual installation of viewpager.

[2019-11-13 08:16] sundarbee commented on #715
@nabettu Did u get the fix? I am also using the same version, facing the same issue

[2019-11-13 08:18] xgAnd opened #1056 "Tried to register two views with the same name RNCViewPager"
- [y ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [y ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2019-11-13 08:22] arjunramdas commented on #518
Any solution ???  scrollWithoutAnimation={true} make design crash while rotating

[2019-11-13 08:55] sahil-kc commented on #895
If your `ScrollableTabView` is under a `ScrollView`, consider adding `contentContainerStyle={{ flex: 1 }}` to your `ScrollView`.

[2019-11-13 12:49] Josin22 commented on #982
I found a solution that ScrollableTabView replaces ScrollView, which means ScrollableTabView inside ScrollableTabView, its can be scroll.

[2019-11-13 18:22] nicolaspavlotsky commented on #1056
You ever got a solution for this?

[2019-11-15 01:40] dididy commented on #1052
Okay I'll go ahead with the work.

[2019-11-16 09:28] javadi69 commented on #1014
@bigkrys have you fixed this problem anyhow?

[2019-11-18 01:00] kaiyes commented on #1050
This worked for me

[2019-11-18 11:59] xgAnd commented on #1056
hello. i find the solution for this.i guess you maybe use @ant-design/react-native 3.2.0 or use some third module it contians react-native-viewpager.but this version is different.And then can not compatibled.like @ant-design/react-native 3.2.0 if use react-native-viewpager version is 1.1.7 and this module use version is 2.0.1.so get the error Tried to register two views with the same name RNCViewP

[2019-11-18 12:12] xgAnd commented on #1050
worked react-native version is 0.61.3

[2019-11-18 12:13] xgAnd commented on #1050
worked react-native version is 0.61.3

[2019-11-18 13:17] sergiulucaci commented on #549
I confirm the same issue, @skv-headless are you open to review a PR that might fix this?

[2019-11-19 07:43] ibubbo commented on #907
solution to the do?

[2019-11-19 07:51] ibubbo commented on #907
@ptomasroos After setting this property (prerenderingSiblingsNumber={Infinity}), you can see the delay

[2019-11-20 02:46] phonganhhung9xtb commented on #715
i can't scroll tab content on android, but on ios it working well. how to i scroll my list data for each tab? seem it conflic with horizontal scroll of scrollabletabview.

[2019-11-21 00:40] aykutcan opened #1060 "onChangeTab fires twice"
- [* ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [* ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

onChangeTab event fires twice on Android. I don't know about IOS yet but Android is misbehaving right now. i m using 1.0.0

## Steps to Reproduce
Create New React

[2019-11-21 10:10] sundarbee commented on #715
@phonganhhung9xtb set static height for scrollable tab

[2019-11-22 03:58] cx5168 opened #1061 "viewpagerAndroid is error in the reactnative0.61"
react: 16.9.0 => 16.9.0
react-native: 0.61.4 => 0.61.4

I have installed the react-native-viewpager as prompted, but I am getting an error.

![img_20191122](https://user-images.githubusercontent.com/29448456/69396942-68b80f00-0d27-11ea-8811-1b5d63e1d1e2.png)

[2019-11-22 04:20] cx5168 commented on #1061
@ptomasroos

react-native-scrollable-tab-view/index.js
[const ViewPagerAndroid = require('@react-native-community/viewpager');]  is need comment.

[2019-11-22 04:30] cx5168 commented on #1061
installed @react-native-community/viewpager.  solved it.

[2019-11-22 04:30] #1061 closed

[2019-11-25 04:05] LeoLei commented on #1060
I got the same!

[2019-11-25 04:48] tayguohong commented on #1060
Can you post your code for tabChangeHandler method? I am facing this issue too

[2019-11-25 09:06] tayguohong opened #1062 "Is there anyway do have the props for customising the underline style?"
I cannot find a way to display an underline by following FacebookTabBar example.

[2019-11-25 17:29] aykutcan commented on #1060
with this way onChangeTab should call tabChangeHandler only once. So it should literally nothing but what you want in that method.

[2019-11-25 22:19] masious commented on #814
It's a year later, and no one has the answer?!

Then how have you implemented dynamic scrolling?!

[2019-11-26 00:55] tayguohong commented on #1060
Ok, i will try on that, thank you.

[2019-11-26 04:50] tayguohong commented on #1060
That solutions is working, thanks for everyone's help

[2019-11-28 00:09] winseyli commented on #1050
Thank you this works for me too. RN 0.61.4

[2019-11-28 17:58] Al-JeMay commented on #1007
Thank You so much @Tracklous  for this solution, it save me a lot of trouble.

[2019-11-29 07:02] reyanshmishra commented on #1003
I don't think its warning anymore on RN => **0.61.5**. Now its red error.

[2019-12-02 07:28] HackJoe commented on #1050
react-native<0.59.0
yarn add @react-native-community/viewpager@2.0.0
react-native link @react-native-community/viewpager

[2019-12-02 13:10] coderew commented on #1050
this is not work for me, my react-native version is   "react-native": "0.59.9"

[2019-12-02 13:14] coderew commented on #1050
have you solved this problem?

[2019-12-02 13:48] Kailash23 commented on #1050
It's working RN 0.61.5

[2019-12-05 20:20] guosim commented on #1050
This works for me in RN 0.61.4 in debug, but when I run --variant=release it crashes on launch.

[2019-12-09 02:34] wulala1997 commented on #1056
Have you found the solution

[2019-12-09 03:08] mickyguo commented on #1060
Can you post your code for tabChangeHandler method? I am facing this issue too

[2019-12-09 03:22] tayguohong commented on #1060
@mickyguo  Here it is.
handleChangeTab(i, ref, from){
        console.log(i);
    }

Basically i just want to log it to check whether it fires once or not.

[2019-12-10 02:27] xgAnd commented on #1056
this error reason is two module use different @react-native-community/viewpager version. you should make the two module use the same.
ant-design/react-native 3.2.0 use version is 1.1.7
you can add this in your package.json and yarn again.
"resolutions": {
        "@react-native-community/viewpager": "^2.0.1"
  }

this code can upgrade the version to 2.xx if another is use this version.

if not wor

[2019-12-10 02:27] xgAnd commented on #1056
this error reason is two module use different @react-native-community/viewpager version. you should make the two module use the same.
ant-design/react-native 3.2.0 use version is 1.1.7
you can add this in your package.json and yarn again.
"resolutions": {
"@react-native-community/viewpager": "^2.0.1"
}

this code can upgrade the version to 2.xx if another is use this version.

if not work. i guess

[2019-12-10 10:14] #1062 closed

[2019-12-10 10:16] tayguohong opened #1063 "Is there any way to customise the ScrollableTabBar's component?"
I am trying to add a notification badge to ScrollableTabBar, but i cannot find a way to do it. Is there any way to achieve this requirement?

[2019-12-11 02:57] james-huang-git commented on #415
This was a solution that worked for me, it was important to have prerenderingSiblingsNumber if you display large amounts of content. Creating a state for each tabLabel allows you to define the height when needed.

[code]

[2019-12-12 09:54] Miti063 commented on #1050
Same issue. Tired adding & linking @react-native-community/viewpager manually but still facing the same error. RN version 0.61.5.

[2019-12-13 11:26] iqbalprasas commented on #1027
how to use collapsing toolbar ?

[2019-12-13 15:01] EnkeChan commented on #950
no solution? I met too...

[2019-12-13 15:50] EnkeChan opened #1065 "Hi,there is a issue i found and i there is a solution."
When your ScrollableTabBar's data is from API and tab's width greater than screen.width, the ScrollableTabBar's onTabContainerLayout function will trigger in a never stop loop.Cause when you change the _containerWidth in onTabContainerLayout, then onTabContainerLayout will trigger again and never stop.
I set a flag in module,and if the flag equal to true, onTabContainerLayout will do nothing

[2019-12-13 15:50] EnkeChan commented on #1065
My English is too wake.Wish you can understand.haha

[2019-12-13 16:04] EnkeChan commented on #1065
After  i do that,the tab won't auto scoll....

[2019-12-13 16:05] #1065 closed

[2019-12-14 05:09] vetrivendhan48 commented on #1050
@zmnv , Thanks for ypur reply man :+1:

[2019-12-19 17:27] mohammad-goldast commented on #1056
Same problem

[2019-12-20 08:58] ChenPrince opened #1066 "ReferenceError:Can`t find variable:ReactNative"
When I import ScrollableTabView, { DefaultTabBar } from 'react-native-scrollable-tab-view';

[2019-12-21 05:26] #1066 closed

[2019-12-24 11:44] Haper commented on #1003
The same problem - red box error on RN => 0.61.5

[2019-12-28 23:27] rachit2501 opened #1069 "Invariant Violation: requireNativeComponent: "RNCViewPager" was not found in the UIManager"
On running my appication it gives the follwing error :
ExceptionsManager.js:44 Invariant Violation: requireNativeComponent: "RNCViewPager" was not found in the UIManager.

This error is located at:
    in RNCViewPager (at ViewPager.js:150)
    in ViewPager (at createAnimatedComponent.js:151)
    in AnimatedComponent (at react-native-scrollable-tab-view/index.js:253)
    in RCTView (at react-native

[2019-12-29 11:04] 0x01001 commented on #385
are you alive? pls share your code, thank you ^^

[2019-12-31 13:13] ryanbourneuk opened #1070 "Possible enhancement? Using @react-native-community/viewpager on iOS"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

This isn't an issue so-to-say, but more of a start of a discussion around using https://github.com/react-native-community/react-native-viewpager on iOS as well as A

[2020-01-01 09:26] xuho commented on #1035
same issue with you, did you fixed it?

[2020-01-05 11:27] zikwall commented on #1069
Here is the fix for this error.

https://github.com/ptomasroos/react-native-scrollable-tab-view/issues/1050#issuecomment-551376517

[2020-01-05 14:23] kabus202 commented on #1027
@ngxu  did you manage to solve this issue?

[2020-01-06 05:33] victor-h opened #1071 "AndroidX support need react-native-viewpager 3.x"
![image](https://user-images.githubusercontent.com/4351768/71797409-f27a2c80-3088-11ea-9fc8-6fb0308c7669.png)
用的AndroidX，需要react-native-viewpager 3.0以上版本，此项目中用的是2.0.2的，有什么解决办法吗？

[2020-01-06 14:52] IronLady commented on #377
Looks like the active text state style use bold fontWeight.
If you use custom font you just need to "force" fontWeight: 'normal' in the tabBarTextStyle props

[2020-01-06 23:40] rachit2501 commented on #1069
Thank you . I probably missed this issue during my search.

[2020-01-06 23:40] #1069 closed

[2020-01-09 16:07] KitYeungDev commented on #503
same issue, long-press without paste/select option

[2020-01-10 20:28] patrickreck commented on #950
I am getting this issue too

[2020-01-12 02:39] guopingApple opened #1074 "怎么控制tab的显示或隐藏"
怎么条件判断某个标签及内容隐藏

[2020-01-14 08:20] SrikaraBhat opened #1075 "On Swipe there is a jerk observed on change tabs."
On tap it works fine, but on swipe, jerk observed while changing tabs.

[2020-01-15 01:27] shystruk opened #1076 "ScrollableTabView causes an app crash on Expo 36.0.0"
After upgrading an app to Expo 36.0.0 ("react": "16.9.0","react-native":"0.61.4") ScrollableTabView causes the app crash ("react-native-scrollable-tab-view": "^1.0.0").

Error:
[code]

[2020-01-15 08:21] gaoxiaosong1113 commented on #1070
I have the same problem

[code]

[2020-01-15 22:54] mharrison-nzme commented on #1060
Solved it for me, thank you

[2020-01-16 03:05] gaoxiaosong1113 commented on #1056
@xgAnd
I have some problems here

1.Add the following to package.json in the root directory of my project:
[code]
2.perform `yarn`

3.perform`npm run android`

The following error appears

[code]

[2020-01-16 03:46] gaoxiaosong1113 commented on #1056
And my node_modules project/node_modules/@reaction-native-community/viewpager version number has changed to 2.0.2

[2020-01-22 09:59] ansarikhurshid786 opened #1077 "Tab content view is blank in android only"
This is a really very nice library. I am using it. it working perfectly in ios. Today I run in android blank tab content in android.

Does anyone face same issue.

[2020-01-22 10:29] ansarikhurshid786 commented on #1050
This resolve issue and working fine in ios but in android tab content is blank. does anyone face same issue?

[2020-01-22 10:43] ansarikhurshid786 commented on #1069
is it working for you ?

[2020-01-22 10:51] ansarikhurshid786 commented on #1050
I am not getting any error or warning in android but tab content is blank.

[2020-01-22 12:40] ansarikhurshid786 commented on #1077
I am using https://docs.nativebase.io/Components.html#tabs-def-headref. it working perfectly

[2020-01-22 12:40] #1077 closed

[2020-01-22 14:54] ChenPrince opened #1078 "How to add a view to the upper part of the scrollable tab ?"
If the scrollable tab is wrapped in a view, it will not appear

[2020-01-22 15:01] #1078 closed

[2020-01-26 16:42] sjupiyandi commented on #1076
same issue

[2020-01-27 11:53] bdent commented on #1050
None of the above solutions working for me on RN 0.59.8.

Anyone manage to get a working solution?

[2020-01-28 13:22] bdent commented on #1035
-

-

-

Did either of you get this fixed?

[2020-01-29 11:28] youngjuning commented on #1071
+1

[2020-02-03 10:47] mustafaskyer commented on #1050
installed viewpager, works for me, thanks @chenyanfei-m
[code]

[2020-02-04 10:29] bdent commented on #1050
@mastahed did you ever fix this on Ejected Expo with RN 0.59?

Installing viewpager and linking isn't working.

[2020-02-04 10:58] bdent commented on #1050
Solved this issue on RN 0.59.8.

Instead of installing and linking `@react-native-community/viewpager`, you need to [manually link the viewpager library](https://github.com/react-native-community/react-native-viewpager#linking) with the already included version of the `@react-native-community/viewpager` library found in `./node_modules/react-native-scrollable-tab-view/node_modules/`

Full path for

[2020-02-04 11:30] longnk-1447 commented on #1050
i'm crashing

[2020-02-05 09:58] newCaoTao opened #1080 "after update to V1.0.0 , change tabsIndex from outside is not working ！！！"
in V0.10.0 , I change tabsIndex from outside is by using props : "page" , as following source code:
<ScrollableTabView
  {...this.pageProps}
  ...
  page={props.tabsIndex}
  ...
/>

and in the outside View, I change tabsIndex as following source code:
dispatch({
    type: types.CHANGE_TAB_INDEX,
    tabsIndex: index
  });

It's working well in V0.10.0 , but after I update react-native-scrollable-t

[2020-02-05 10:04] newCaoTao commented on #126
@eseQ , what library do you use now? could you share with me? thanks

[2020-02-06 06:51] eseQ commented on #126
@newCaoTao, @khat33b  last year I work on `non react-native` project.
But I find this:
[code]
I recommend use functional component and `useEffect` instead `componentWillReceiveProps`.

[2020-02-06 20:36] ShaneMatthias commented on #1056
Thanks all! Downgrading to `@react-native-community/viewpager: 2.0.2` worked for me!

[2020-02-07 10:19] ankit-silversky commented on #1075
do you find this solution? Because i have a same problem when tab changed.

[2020-02-10 07:04] 78720705 commented on #1076
通问

[2020-02-12 08:55] w13808604 commented on #1071
+1

[2020-02-13 15:38] ptomasroos commented on #1080
You can create a example repo like the ISSUE_TEMPLATE is saying and we can take a look at it in order to help you

[2020-02-13 15:39] ptomasroos commented on #1076
Can you create a example repo?

[2020-02-13 15:39] ptomasroos commented on #1071
+1

[2020-02-13 15:40] ptomasroos commented on #1070
Well, I would rather say that we would prefer to move to ScrollView's :)
Then we can at least nest the ScrollableTabView it which many people are talking about as a needed feature.

[2020-02-14 18:12] zmnv commented on #187
![image](https://user-images.githubusercontent.com/25253501/74556171-7ff54a00-4f6e-11ea-916d-22a8c4465306.png)

what do you think guys? It's worked with `onLayout` calculations and you can also add LayoutAnimation before `setState`.

[2020-02-15 22:14] turbozv commented on #859
@ptomasroos @PatrikTes I'm hitting the same issue on Android, any suggestion on the fix?

[2020-02-17 03:01] nikhiysham commented on #1056
help me so much.. Thanks

[2020-02-18 12:50] mmustafaozdemir commented on #1050
worked! react-native version is 0.61.0

[2020-02-18 14:21] ptomasroos commented on #1050
Thanks for sharing!

[2020-02-23 21:32] rauchp commented on #895
@sahil-kc Thanks for that, worked great after adding that line!

[2020-02-26 04:41] YANGQUNGONGSHE opened #1082 "使用 ScrollableTabBar出现错位问题"
![image](https://user-images.githubusercontent.com/22191417/75312500-0b3add80-5895-11ea-8647-d8819e4a3e27.png)
使用 ScrollableTabBar出现错位问题

[2020-02-26 15:11] ankit-silversky commented on #1075
@SrikaraBhat
for me its working for solve jerk effect...
 prerenderingSiblingsNumber={Infinity}

[2020-02-28 06:41] 9024647467 commented on #466
give tabStyle in ScrollableTabView tabStyle,  it work IOS and android....

[2020-02-28 16:52] DrFlink commented on #1050
This worked for me:

RN-cli: 2.0.1
RN: 0.61.5

I tried linking the package, but that didn't help.
I tried manual linking and saw that the RNCViewPagerPackage was missing in:
android/app/src/main/java/com/[...]/MainApplication.java

I added the package (last line before return):

`@Override
protected List<ReactPackage> getPackages() {
  @SuppressWarnings("UnnecessaryLocalVariable")
  List<ReactPack

[2020-02-29 15:04] quangas opened #1083 "Does this library still work?"
Just tried some samples/examples and despite the tab bar displaying the links ok, the body content is just blank (even something simple as Text or View). Anu ideas?

[2020-03-01 23:52] betoharres commented on #642
This didn't work for me. After googling I found this:
https://stackoverflow.com/questions/58257932/cannot-find-module-nativeanimatedhelper-when-using-jest-mock

which you just need to do this instead:
`jest.mock('react-native/Libraries/Animated/src/NativeAnimatedHelper')`

[2020-03-07 05:01] congtaoa commented on #1071
+1

[2020-03-11 20:41] shystruk commented on #1080
Try to replace `page` by `initialPage`.
https://github.com/ptomasroos/react-native-scrollable-tab-view#props

[2020-03-11 20:44] shystruk commented on #1083
Examples might be broken but Tabs are working fine. You may face some view issues :) Just try and let me know if you find something better ;)

[2020-03-11 20:46] shystruk commented on #1063
Can you attach some screenshot example what do you want to achieve?

[2020-03-11 20:49] shystruk commented on #1076
removed `page` prop helps to resolve this issue :)

[2020-03-11 20:49] #1076 closed

[2020-03-16 11:21] lalala345 commented on #1010
same issue here

[2020-03-17 08:38] TZXZ commented on #1076
It seems page and  onChangeTab props have come conflict when use together

[2020-03-17 16:14] shystruk commented on #1076
Yes, with a new expo 0.36 page and onChangeTab works together only in Android.
Remove page. If you need dynamically change a Tab use reference.
[code]
[code]

[2020-03-24 08:49] jrb1995 commented on #814
renderTabBar = () => {
    let isRenderTabBar = this.state.isRenderTabBar
    if (isRenderTabBar) {
      return (
        <ScrollableTabBar
          tabStyle={{ paddingBottom: 0 }}
          style={{ borderWidth: 0, height: 42 }}
        />
      )
    } else {
      return <View></View>
    }
  }

[2020-03-24 08:51] jrb1995 commented on #814
added a status control display

[code]

[2020-03-24 18:13] lalala345 commented on #536
Hi all!
I did try it on latest version. But it not working.

[2020-03-24 22:07] babelom commented on #536
I @lalala345 can you show us a piece of your code please ? It will be simplier to see what's wrong.

[2020-03-25 03:27] DeVoresyah commented on #1083
I wanna try this but I'm worried it's not compatible with rn 0.61.+
is there any demo to check?

[2020-03-25 16:35] nabilfreeman commented on #1083
I've been using this successfully up to React Native 0.59 for https://github.com/lesalonapp.

Currently doing a huge upgrade to 0.61. I'll post back here after I've tested this library

[2020-03-25 16:38] DeVoresyah commented on #1083
thanks man @nabilfreeman

[2020-03-31 04:01] eramudeep opened #1084 "active tab fontFaimly not working for android"
Having some trouble with active tab style.
its working fine with ios, but not on android

`<ScrollableTabView
        style={{
          backgroundColor: color.black,
          paddingBottom: hasNotch && Platform.OS === "ios" ? 30 : 0,
        }}
        initialPage={selectedTabIndex}
        page={0}
        prerenderingSiblingsNumber={100}
        tabBarUnderlineStyle={{ backgroundColor: color.p

[2020-03-31 04:16] ratihshav commented on #1083
is there any updates on 0.61?

[2020-03-31 07:27] wenkangzhou commented on #1034
这个估计是scrollview的bug,我不用这个库，直接用flatlist也有这个问题

[2020-03-31 13:08] nishaQueppelin commented on #1077
@ansarikhurshid786  I am facing same issue
Did you remove the library and used native base component

[2020-03-31 13:08] nishaQueppelin commented on #1077
I am facing same issue
Did you remove the library and used native base component

[2020-04-01 19:56] jpmaheux commented on #1071
a PR already exists for this issue  https://github.com/ptomasroos/react-native-scrollable-tab-view/pull/1067

[2020-04-02 00:36] jpmaheux commented on #1083
I'm using it with rn 0.61.5 and its working fine, just had to add @react-native-community/viewpager to target v3.x as PR [1067](https://github.com/ptomasroos/react-native-scrollable-tab-view/pull/1067) is not merged yet

[2020-04-02 06:03] ptomasroos commented on #1083
#1067 is now merged. feel free to try out the master branch and report back any issues before a release

[2020-04-02 06:03] #1083 closed

[2020-04-02 06:03] ptomasroos commented on #1071
#1067 is now merged

[2020-04-02 06:03] #1071 closed

[2020-04-02 06:04] ptomasroos commented on #1082
English would be preferable if you need any assistance

[2020-04-02 06:04] #1082 closed

[2020-04-02 07:48] DeVoresyah commented on #1083
how about the demo? could you also please update the demo?

[2020-04-03 03:29] gaoxiaosong1113 commented on #1027
"react-native-scrollable-tab-view": "^0.10.0",  There is no europeans for props。

[2020-04-05 09:29] DatNguyenWoft commented on #1050
i'm using RN 0.60.5 and i have this issue when using  react-native-scrollable-tab-view version 1.0.0 then i had downgrade toreact-native-scrollable-tab-view version 0.10.0 the error is gone.

[2020-04-05 23:17] lucasluca opened #1085 "Upgraded to React Native 0.62.0 Getting Warning Sign - "Calling `getNode()`"
ReactNativeFiberHostComponent: Calling `getNode()` on the ref of an Animated component
is no longer necessary. You can now directly use the ref instead.
This method will be removed in a future release.

this happend on change tabs

[2020-04-06 11:58] appify-waheed commented on #724
Yeah, This needs to be re-open.

[2020-04-06 15:31] ptomasroos commented on #724
Feel free to send a pr

[2020-04-07 16:05] FuzzyFade commented on #724
[code]

[code]

[code]

[code]

[2020-04-08 10:18] nabilfreeman commented on #1083
Awesome! just got round to testing it and it's working on 61 without the update as long as that dep is added.

Great job on keeping this maintained, we are excited to keep using it 🏆

[2020-04-08 12:08] ptomasroos commented on #1083
Thanks for leaving feedback @nabilfreeman

[2020-04-08 12:10] DeVoresyah commented on #1083
thanks for the info @nabilfreeman
I also make a fw but nobody use it xD

[2020-04-09 02:02] NikiLee2016 opened #1086 "On IOS devices, swipe back gesture couldn't work properly"
On IOS devices, swipe back gesture couldn't work properly when I do it on the react-native-scrollable-tab-view area, and I know a horizontal ScrollView is the container widget of react-native-scrollable-tab-view, so this bug is exactly about horizontal ScrollView. So I want to find a solution to solve this gesture conflict, with PanResponder Or react-native-gesture-handler? Any can help me?

[2020-04-09 10:29] nabilfreeman commented on #1056
I also had this problem but could only solve it by removing `react-native-viewpager` as a top-level dependency. I was using it for an image carousel in part of the app.

Then I styled this scrollable tab view plugin to also be usable for the same carousel.

Pretty strange problem but pretty happy I found this workaround.

[2020-04-10 09:28] jinhongyu156 commented on #1085
me too

[2020-04-10 21:35] MasoudShah commented on #338
I have this kind of problem too, they are similar. I have multiple tabs inside ScrollableTabView and some of them are FlatList. The items of FlatList are wrapped inside a TouchableWithoutFeedback with onPress property. Scrolling vertical is OK and the FlatLists have no issue but Scrolling horizontal has an issue. When you scroll horizontally on an Item of FlatList, scrolling wont happen and the on

[2020-04-10 21:40] MasoudShah opened #1087 "TouchableWithoutFeedback prevents scrolling"
I have multiple tabs inside ScrollableTabView and some of them are FlatLists. The items of FlatList are wrapped inside a TouchableWithoutFeedback with onPress property. Scrolling vertical (witch is FlatList responsible for) is OK and the FlatLists have no issue but the problem is scrolling horizontal (whitch is about scrolling between tabs). When you scroll horizontally on an Item of FlatList, scr

[2020-04-11 13:45] sacbuddika opened #1088 "Tab OnPress Underline and Screen Not Change"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

  Tab OnPress Underline and Screen Not Change

`import React, {Component} from 'react'
import {ScrollableTabView, ScrollableTabBar} from '@valdio/react-native-scrol

[2020-04-13 11:16] Aryk opened #1089 "Decouple tab header from tab body?"
Is there anyway to decouple the tab header from the tab body?

What I mean is, one can create an Animated.Value and pass it in both to the header and body and split the two components apart.

What I am trying to achieve is for the header to be sticky and stay on the top of the content area (similar to what you see on the instagram profile screens).

[2020-04-13 21:36] ejdigby commented on #1085
+1

[2020-04-14 16:12] roysG commented on #1035
Still problem! any update?

[2020-04-14 17:37] elkinjosetm opened #1091 "New version?"
I've noticed that you've updated the `@react-native-community/viewpager` dependency version, are you releasing a new NPM version soon?

[2020-04-16 06:27] Malikkhoja commented on #1091
Hi,

Also on RN 0.62.2 we are getting warning as "Calling getNode() on the ref of an Animated Component is no longer necessary. You can use the ref instead. This method would be removed in future release.

[2020-04-16 07:06] Malikkhoja commented on #1085
+1

[2020-04-22 14:17] Bang9 commented on #1089
try this
[code]

[2020-04-26 03:53] ngxu commented on #1027
@liu-miao-miao @frankyLHJ @iqbalprasas @kabus202 [https://github.com/zyslife/react-native-head-tab-view](react-native-head-tab-view)Almost all functions can be realized by using this library (keep the height of each tab to switch from left to right without re rendering, resulting in the white screen sliding up and down without jitter)

[2020-04-26 04:00] ngxu commented on #1027
Almost all functions can be realized by using this library (keep the height of each tab to switch from left to right without re rendering, resulting in the white screen sliding up and down without jitter)
@liu-miao-miao @frankyLHJ @iqbalprasas @kabus202   [https://github.com/zyslife/react-native-head-tab-view](react-native-head-tab-view)
![IMG_2499](https://user-images.githubusercontent.com/434330

[2020-04-26 04:03] ngxu commented on #1027
Almost all functions can be realized by using this library (keep the height of each tab to switch from left to right without re rendering, resulting in the white screen sliding up and down without jitter)
@liu-miao-miao @liu-miao-miao @frankyLHJ @iqbalprasas @kabus202 [react-native-head-tab-view](https://github.com/zyslife/react-native-head-tab-view)
![IMG_2499](https://user-images.githubuserconte

[2020-04-26 04:13] ngxu commented on #1027
@gaoxiaosong1113

[2020-04-27 12:05] SrikaraBhat opened #1094 "tabsContainerStyle flexDirection:'row-reverse' is not working"
I wanted to display all items in right to left order, means simply a mirrored style. But On setting tabsConatinerStyle as flexDirection:'row-reverse' contents gets display properly, underline is getting display in wrong order.
<img width="378" alt="Screenshot 2020-04-27 at 5 32 42 PM" src="https://user-images.githubusercontent.com/48508148/80370298-76ad2580-88ad-11ea-8936-cd9aefdf7028.png">

## St

[2020-04-27 14:59] zmnv commented on #1056
Any solutions?

[2020-04-27 16:51] nabilfreeman commented on #1056
@zmnv the only thing that worked for me was removing one of the conflicting deps. Try open the `node_modules` folder in Sublime or other text editor and search the entire directory for `viewpager` - see which modules are implementing different versions of it.

If all your deps implement the same version of `viewpager` this error will go away.

[2020-04-27 17:16] zmnv commented on #1056
@nabilfreeman yeah, but change something inside `node_modules` is very bad.

So, now I just use in `package.json`:

[code]

until waiting new release

[2020-04-28 08:19] semnyqu opened #1095 "ScrollView: Calling `getNode()` on the ref of an Animated component is no longer necessary. You can now directly use the ref instead. This method will be removed in a future release."
ScrollView: Calling `getNode()` on the ref of an Animated component is no longer necessary. You can now directly use the ref instead. This method will be removed in a future release.

[2020-04-28 10:48] MasoudShah commented on #1087
Still no solution for this?

[2020-05-01 21:54] oregano1201 commented on #1056
Hi I found solution to this.

Seems the npm package for the react-native-scrollable-tab-view also include node_modules folder where there is an exact copy of @react-native-community/viewpager.
![image](https://user-images.githubusercontent.com/31572153/80844383-b323ad00-8c30-11ea-968d-670ecdf83516.png)

Thus when you actually use other library that import '@react-native-community/viewpager'
this w

[2020-05-04 06:37] noddy1996 commented on #1084
i have also same issue bro🙄

[2020-05-04 21:33] nabilfreeman commented on #1050
Hi, I just ran `npm install --save @react-native-community/viewpager` and it autolinked.

I also made sure that my `react-native-scrollable-tab-view` version is the latest commit on master (not npm).

[code]

To confirm... no manual steps required!! 🎉

[2020-05-05 19:28] nabilfreeman commented on #1050
Last update... I downgraded my version of `@react-native-community/viewpager` to 3.3 (matches the master branch of this repo) and now everything is playing nicely.

[2020-05-06 08:21] pratham014 commented on #1087
I am having the same issue on Android. Works fine on iOS

[2020-05-06 08:35] pratham014 commented on #1087
Wrapping the FlatList inside TouchableWithoutFeedback solves the problem.

[2020-05-06 09:25] pratham014 commented on #1087
I was able to resolve this issue by wrapping the FlatList inside GestureRecognizer from react-native-swipe-gestures. and ignore the gesture event returned by it.

[2020-05-06 12:56] yjz20041 opened #1096 "please add tabBarStyle for changing the tabbar's height etc."
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-05-08 10:26] jmporchet commented on #890
https://www.npmjs.com/package/@types/react-native-scrollable-tab-view

[2020-05-08 10:26] jmporchet commented on #371
https://www.npmjs.com/package/@types/react-native-scrollable-tab-view

[2020-05-12 07:12] KingAmo commented on #1070
maybe it is better move android side implement to `ScrollView`，but can't it just use iOS side code of ScrollView directly in `android` side  ?

[2020-05-13 08:30] eramudeep commented on #126
having trouble with the StateLess component.
when the **onChangeTab** trigger. it re-redner the component twice .
not sure why

[2020-05-14 16:15] kabus202 commented on #730
did you guys find a solution to this? it's not swiping smoothly

[2020-05-15 08:24] 15621070585 opened #1098 "the provided ScrollableTabBar do not show underLine and the initial underLine's position is not correct"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-05-15 08:28] 15621070585 commented on #1098
0.8version's ScrollableBar can use onLayout props of View to caculate the correct position for the firsttab's underLine

[2020-05-15 13:04] Bayramito opened #1099 "can swipe between tabs in material top tab navigator !"
Hello

I'm just having an issue on my project.

It's built in RN 0.62 (latest)
I'm also using React navigation v5 (latest)

I have  material top tab navigator which has 3 screens
A,B and C lets say.

and in the screen B im using scrollable-tab-view but when i swipe to left or right, its NOT swiping in the scrollable-tab-view instead in material top tab navigator, which means its going to screen C

[2020-05-18 13:36] Bayramito opened #1100 "Invariant Violation: requireNativeComponent "RNCViewPager" was not found in the UIManager"
Hello,

after i updated my project in react native i started to get this error in the places where i used ScrollableTabView.

RN: 0.62 (latest)
ScrollableTabView 1.0.0

[2020-05-18 14:13] Dmitriy001 commented on #1100
@Bayramito yarn add @react-native-community/viewpager

[2020-05-20 07:36] personwu0755 commented on #1100
I made the same mistake
after install @react-native-community/viewpager
run “react-native run-android”
An “ Could not find com.github.troZee:ViewPager2:v1.0.6.”   error occurred

[2020-05-21 12:10] #1100 closed

[2020-05-21 19:09] deot commented on #1050
Android > 60.0, check file:
`android/app/build/generated/rncli/src/main/java/com/facebook/react/PackageList.java`

[code]

[2020-05-23 19:33] ejdigby commented on #1085
#1090 has been merged to fix this. Issue can now be closed

[2020-05-24 19:36] #1085 closed

[2020-05-27 05:57] MasoudShah commented on #1087
I used react-native-tab-view witch solved my issue

[2020-05-27 13:06] Susmitha-Bogala commented on #986
from renderTab
 function will get "isTabActive" , if it is true change the fontSize

[2020-05-28 14:42] moniquealtero commented on #509
There is an available method called goToPage, you can use like this:

`if(this._scrollTab) this._scrollTab.goToPage(2)`.

Hope it helps.

[2020-05-28 14:43] moniquealtero commented on #318
There is an available method called goToPage, you can use like this:

`if(this._scrollTab) this._scrollTab.goToPage(2)`

Hope it helps.

[2020-05-28 14:48] zmnv opened #1101 "Error "this.scrollView.scrollTo is not a function" after commit with getNode() removed"
- [x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [X] I am using the github version via:
[code]

## Steps to Reproduce

Nothing changed in my component with scrollable tab. But after last time I did pull it happens.
I talk about #1090 commit.

## Expected Behavior

All right.

## Actual Behavior

Application crashes with
[code]

[2020-05-28 14:50] zmnv commented on #1101
I use git version because last release was IN 2019.
1.0.0 has fatal error because of RNViewPager...

[2020-05-28 17:44] zmnv commented on #1095
ha ha..

https://github.com/ptomasroos/react-native-scrollable-tab-view/issues/1101

[2020-05-28 17:51] ejdigby commented on #1101
Could you try upgrading your react native version to the latest?

[2020-05-28 17:57] zmnv commented on #1101
No. It's not a solution. I can do that only in future. :(

If you wouldn't support RN versions < 0.62 you can close issue, but please, attention about it in README.MD. I just forked your awesome module as a temporary solution, thanks!)

[2020-05-29 13:29] jiyuan12354 commented on #1100
after `yarn add @react-native-community/viewpager`  and viewpager version is 4.0.0,  the error is gone, but my page is blank.

[2020-06-03 09:24] chenxianj commented on #1100
The same error occurred  while installing react-native-scrollable-tab-view by "npm install", and my version of react-native is 0.62.
It doesn't work even if I run "yarn add @react-native-community/viewpager".
Hope to get a solution as soon as ever, thanks.

[2020-06-03 11:17] hotaryuzaki opened #1103 "typeerror: this.scrollview.setpage is not a function"
- [ x] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ x] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

I want to upgrade my apps Expo SDK version, one by one from SDK 34.
right now im in SDK ver 36.

First i get error viewpager, then update to latest ver is solved

[2020-06-03 11:51] Syahrul commented on #1084
setting fontWeight to normal should resolve your issue

[2020-06-03 17:39] brambang commented on #1061
my problem is little bit different, because the message is
[this.scrollview.setpage is not a function](url)

But when i check @react-native-community/viewpager in root node_modules or inside this library, is not existed.
soooo..
i tried installed in root node modules and inside this library, but still error (ver 3.3.0)
i tried NPM cache clean, same.

How to fix it?
What i found is this function is

[2020-06-03 17:49] brambang commented on #1103
UPDATE:

i found that this function is from @react-native-community/viewpager.
But when i check @react-native-community/viewpager in root node_modules or inside this library, was not existed.
soooo..
i tried installed in root node modules and inside this library, but still error (ver 3.3.0)
i tried NPM cache clean, same.

How to fix it?

[2020-06-04 08:24] brambang commented on #1103
i read in @react-native-community/viewpager we have to do REACT NATIVE LINK, so now Expo project must in Expokit or bare to use this library????????

[2020-06-04 09:07] brambang commented on #1101
so we MUST (force to) using RN 0.62 to using this??????
i think it was bad implementation.
because many people using Expo, and latest Expo SDK it is 0.61.4 (mine now)

[2020-06-04 13:03] brambang commented on #1085
this update is create new problem, me and someone had same issue.
my problem is `this.scrollView.setPage is not function`
other man is `this.scrollView.scrollTo is not function`
but this same issue, because getNode() deleted.

My solution is, put getNode() back

[2020-06-04 13:07] zmnv commented on #1103
#1101
#1090

[2020-06-04 14:01] brambang commented on #1103
My solution is, put getNode() back

[2020-06-06 04:49] fujinting commented on #995
外部必须是弹性布局

[2020-06-08 14:56] adamivancza commented on #1100
You'll need to use version 3.3.0 of `@react-native-community/viewpager`

[2020-06-09 05:54] nitai28 opened #1104 "RTL don't work well in android"
there is a problem with a scroll on RTL in android devices it's not changing the order, and the scroll moves in the opposite direction , fix this if you can

[2020-06-09 08:39] albinekb commented on #763
How did you use react native gesture to do that? @syzer

[2020-06-11 10:17] pragupnewzera commented on #415
Try something like this,
Fix the height of the parent widget to the maximum screen height you want that Tab Navigator to have.

    <ListView or ScrollView>
     <View style={{height:  (width)/(0.8)}} >
        <Tab.Navigator tabBar={(props) => <TabBar {...props} />}>
          <Tab.Screen name="T1" component={T1} />
          <Tab.Screen name="T2" component={T2} />
          <Tab.Screen name="T3"

[2020-06-16 16:52] deot commented on #1085
[Animated: Forward Ref to Component](https://github.com/facebook/react-native/commit/66e72bb4e00aafbcb9f450ed5db261d98f99f82a)
### temporary solution：
`this.scrollView.scrollTo` -> `this.scrollView._component.scrollTo`

[2020-06-17 09:08] marlti7 commented on #960
same problem in android

[2020-06-17 09:10] marlti7 commented on #772
why close this, face same problem in android

[2020-06-17 09:11] marlti7 commented on #909
Why would you close this? Same problem for me, works great on ios tho..

[2020-06-18 06:07] cham1985 commented on #1100
Thank you for your help. The problem has been solved

[2020-06-19 10:42] brambang opened #1106 "ScrollableTabBar stuttering with flatlist"
i used ScrollableTabBar and render data with flatlist in every tab.
the problem is when we click menu the animation will stuttering because of renderItem of flatlist.
How to solved it?
maybe like animated delay or something like that, i am not understand your script and im not familiar with RN animated

[2020-06-19 10:46] brambang commented on #947
is there any way around to fix this issue????

[2020-06-19 10:51] brambang commented on #1087
are you do not need scrollable tab?
is react-native-tab-view have scrollable tab????

[2020-06-19 11:43] jeffreyantonius opened #1107 "Error : Text String must be rendered within a <Text> Component"
<View style={styles.container}>
                <View style={styles.header}>
                    <Text style={styles.title}>Home</Text>
                </View>
                <View style={styles.tar}>
                <ScrollableTabView style={{ marginTop: 20 }}
                initialPage={1}
                renderTabBar={() => <DefaultTabBar />}>
                    <Text tabLabel='Tab #1'>My</T

[2020-06-19 11:57] mengbimao commented on #1004
我也是,解决了嘛?

[2020-06-20 20:13] deot commented on #1101
[link](https://github.com/ptomasroos/react-native-scrollable-tab-view/issues/1085#issuecomment-644886527)

[2020-06-20 20:16] deot commented on #1103
#1085

[2020-06-20 20:16] deot commented on #1095
#1085

[2020-06-22 02:43] SimoTw commented on #1050
This worked for me.

This issue is caused by the wrong dependency version,
and it's fixed in the commit [510111adce035a54ecb1b5f77b78e3bfaf513260](https://github.com/ptomasroos/react-native-scrollable-tab-view/commit/510111adce035a54ecb1b5f77b78e3bfaf513260),
but not officially released.
To install the specific commit version instead of the official released one, run
#### RN v0.61

    yarn add re

[2020-06-22 04:13] hotaryuzaki commented on #1103
thanks it is solved.

[2020-06-22 06:38] lvqi0724 opened #1108 "ios 显示正常 Android 无显示内容"
const HomePage = () => {
  return (
    <View style={{flex: 1}}>
      <TopTabs />
      <ScrollableTabView
        tabBarBackgroundColor={'#f3f3f3'}
        tabBarUnderlineStyle={{
          backgroundColor: null,
        }}>
        <View tabLabel="React" style={{flex: 1}}>
          <TabCard />
        </View>
        <View tabLabel="React2" style={{flex: 1}}>
          <TabCard />
        </Vi

[2020-06-23 06:20] technyx-ali-rehman commented on #1003
@nialexsan Can you please share your code, I am having issues with the viewpager and getting black page on Android ... Can you help ?

[2020-06-23 11:49] MasoudShah commented on #1087
Yes it has the scrollable tab bar

[2020-06-24 10:20] marlti7 commented on #1106
same problem  do you fix it? @brambang

[2020-06-28 13:42] mohamedadlyy commented on #1088
did you solve this problem

[2020-06-29 06:27] Sarvarr commented on #960
same problem, Any idea ?

[2020-06-30 17:27] hirvin-faria commented on #1103
I also received the same error recently, as mentioned in other issues the problem seems to be the depreciation of getNode by RN.

I used the same solution as commented by @brambang

And updated the package version to npm, changing in package.json `"react-native-scrollable-tab-view ":" ^ 1.0.0"`
to fix the dependency version.

[2020-07-01 09:38] zhugy-yami commented on #1087
`import {
 TouchableNativeFeedback,
 TouchableHighlight,
 TouchableOpacity,
 TouchableWithoutFeedback
} from 'react-native-gesture-handler'`

I use react-native-gesture-handler instead solved the problem

[2020-07-07 05:59] clwy-cn commented on #1087
works good for me, thx

[2020-07-07 06:59] zhugy-yami commented on #1087
客气

[2020-07-18 05:52] JoaRiski commented on #1056
Can someone elaborate why is the `@react-native-community/viewpager` module bundled in with this package in the first place? Wouldn't a more appropriate solution be to use dependencies?

[2020-07-22 03:43] heyixing commented on #1050
it's also worked for me ,thanks!

[2020-07-23 03:17] puxiaoshuai commented on #1087
import { TouchableNativeFeedback, TouchableHighlight, TouchableOpacity, TouchableWithoutFeedback } from 'react-native-gesture-handler' 点击没效果，android 中MainActivity中增加
[code]

[2020-07-24 12:21] #1060 closed

[2020-07-27 04:55] brambang commented on #1050
im using Expo SDK 34 ejected, RN 0.59
when i installed viewpager the folder is @react-native-community/viewpager/
not inside react-native-scrollable-tab-view.

[2020-07-27 06:43] brambang commented on #1050
for Expo SDK 34 ejected, RN 0.59
installed viewpager version 2.0.2 solved the problem
maybe the problem is in version 3.0.0 they were update to Android X.

[2020-07-27 09:25] lchenfox commented on #1056
The same issue. Does someone know how to solve this?

[2020-07-29 03:17] FerrisW commented on #1009
have any solution?

[2020-07-29 05:34] congshengwu commented on #1086
@NikiLee2016
Hi, I have a solution maybe you can have a look, and it works well on my side. Basically,  using PanResponder to intercept touch event, if user touches the "swipe back area", set the props of scrollEnabled as false, then it will trigger "swiper back" instead of scrolling the page. And if user touches non "swiper back area", set the props of scrollEnabled as true, to let the react-nati

[2020-07-29 05:46] congshengwu commented on #1086
@NikiLee2016
Hi, I have a solution maybe you can have a look, and it works well on my side. Basically,  using PanResponder to intercept touch event, if user touches the "swipe back area", set the props of scrollEnabled as false, then it will trigger "swiper back" instead of scrolling the page. And if user touches non "swiper back area", set the props of scrollEnabled as true, to let the react-nati

[2020-07-31 02:40] NikiLee2016 commented on #1086
@congshengwu Hello, using PanResponder and setNativeProps is definitely a good idea, and My solution is like this:
![image](https://user-images.githubusercontent.com/28485853/88994002-fb2e9a80-d319-11ea-89b4-2d433e88462c.png)
 return (
      <View style={[styles.container, style]} onLayout={this._handleLayout}>
        {tabBarPosition === 'top' && this.renderTabBar(tabBarProps)}
        {this.ren

[2020-08-03 04:21] zi6xuan commented on #696
我目前使用的版本是1.0.0，还是出现了这种情况，而且在android下出现的概率更大，有时候第一页内容不显示，但是里面的touch事件可以触发，切换tabBar之后就可以正常显示了

[2020-08-04 02:02] azhararmar commented on #724
This is how I solved the auto-height issue inside the <ScrollView>

[code]

[2020-08-04 09:41] lixianglin2018 opened #1110 "设置initialPage默认值的问题"
在ios上，动态设置initialPage的值，会在点击tab的时候，切换混乱现象(如：点击第二个，选中第三个)，多次尝试，是跳转到underlineStyle移动的方向下一个，并且设置scrollWithoutAnimation={true}后点击正常，但是这样tab的underlineStyle就没有动画效果了。请问我该怎么办，才可以动态设置initialPage的值，并且保证ios上点击切换正常？

[2020-08-10 11:41] agrawalsurabhi89 commented on #660
same issue how did you resolve it @huiming1313

[2020-08-10 12:27] agrawalsurabhi89 commented on #787
how to rerender contents in Tabs .. or how to rerender current tab manually?

[2020-08-11 09:40] bachbonglong commented on #715
Has anyone fixed that ?  on IOS it working well but Android not work

- ScrollableTabView : 1.0.0
I want vertical scroll of scrollabletabview.

[2020-08-13 03:36] flyinglb opened #1111 "本组件和Flatlist使用，左右滑动时，触发Flatlist列的点击，怎么解决"
1、本组件和Flatlist使用，左右滑动时，触发Flatlist列的点击，怎么解决
2、次组件有没有懒加载功能

[2020-08-13 13:05] usamaehsan commented on #1101
@brambang have you found any solution ? i am also using expo

[2020-08-14 06:38] Frank-Chen0 commented on #1111
第一个问题 import {TouchableOpacity} from 'react-native-gesture-handler'; 可以解决。但是，会出现点击事件重叠的问题，这个我也没找到好的解决方案，如果你的列只有一个点击事件，内部不包含其他的。你可以用这个，否则建议用react-native-tab-view这个组件，但这个组件有个问题，会一次把所有的tab里的内容都加载了，需要你做一下处理

[2020-08-14 16:23] flyinglb commented on #1111
你好，感谢你的回答，我测试下。
&nbsp;

夜读书 - 爱上作者，爱上书！
www.yedushu.com

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Frank-Chen0"<notifications@github.com&gt;;
发送时间: 2020年8月14日(星期五) 下午2:38
收件人: "ptomasroos/react-native-scrollable-tab-view"<react-native-scrollable-tab-view@noreply.github.com&gt;;
抄送: "一页书"<flyinglb@qq.com&gt;; "Author"<author@noreply.github.com&gt;;
主题: Re: [ptomasroos/react

[2020-08-14 16:24] flyinglb commented on #1111
你好，感谢你的回答，我测试下。

[2020-08-15 22:22] akhilesh-leap-club commented on #754
import ScrollableTabView, {DefaultTabBar} from 'react-native-scrollable-tab-view';

<ScrollableTabView
            renderTabBar={() =>
                <DefaultTabBar
                    style={{
                        borderWidth: 0,
                        borderColor: 'red',
                    }}
                />
            }
...other props

// Your components here....
.............

</Scro

[2020-08-17 21:57] YuntongLi6543 commented on #1066
same

[2020-08-17 22:04] YuntongLi6543 commented on #1066
yuntong.li43@gmail.com

[2020-08-18 08:28] weishisi opened #1112 "如何自定义tab文字的样式呢，不仅仅是改变字体颜色和粗细。而是完全自定义？"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-08-19 07:42] lexguy opened #1113 "第一个页面是定制化的，切换到其他Page并进入到对应详情之后，切回第一个页面的时候显示空白"
第一个页面是定制的ScrollView，其他页面都是一个复用的列表，当多次切换Tab，进入其他页面的列表的详情之后，退出再回到第一页的时候，显示空白。Android 和 iOS 都存在

-version:
 -  "react-native-scrollable-tab-view": "^1.0.0",
 -  "react-native": "0.61.5",

关键代码

[code]

## Steps to Reproduce

当 Tab 较多（十几个），且多次切换，进入后面的列表详情页产生跳转后复现概率较大。

[2020-08-19 08:44] afeng159 opened #1114 "切换页面时，上个页面的状态如何改变，比如上个页面有视频播放，需要在切换后，暂停，实践发现，上个页面不会重新渲染"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-08-20 08:31] AdarshJais commented on #1106
Did you get any solution or hacks?

[2020-08-20 08:37] AdarshJais commented on #1087
I don't think we can scroll header element in that. that's why we need a scrollable tab view. Isn't it?

[2020-08-20 10:40] AdarshJais commented on #353
Using prerenderingSiblingsNumber  cause jerk with active tab and also while with changing tab.

[2020-08-20 10:40] AdarshJais opened #1115 "Using prerenderingSiblingsNumber cause jerk with active tab and also while with changing tab."
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-08-24 10:02] AlexJeeee commented on #1111
你好，请问你在用react-native-tab-view的时候有遇到在flatlist里加新数据的时候列表直接跳到顶部的问题吗？

[2020-08-25 07:52] flyinglb commented on #1111
没有碰到这个问题，是不是你的css样式写的不对的原因。

[2020-08-26 03:24] AlexJeeee commented on #1111
这个跟css应该没关系，应该是加新数据会导致组件重新渲染

[2020-08-27 11:26] saransh-malik commented on #971
Tried to modify the package but it still gives the same issue, anything else we missing here?

[2020-08-27 11:59] flyinglb commented on #1111
你好，还是无法解决滚动和flatlist列表内容点击冲突问题，只要左右滚动就会自动触发flatlist项目的点击打开事件。

[2020-08-28 12:41] erhanbicer commented on #1087
ridiculous, but it works🤪

[2020-08-30 00:14] badaz commented on #1070
I am facing a problem in my ios implementation of this lib, and I think it is because of it using a ScrollView on ios since I didn't encounter it on android. My implementation is as follows : at the top of first tab, I have a TextInput, followed by a vertical SectionList. If the input if focused, then I cannot scroll the vertical list without dismissing the keyboard first. If I do try to scroll th

[2020-08-30 13:39] badaz commented on #1070
Ok, I tried and it works. I have a new problem though, my main container is a KeyboardAvoidingView, and ViewPager on ios doesn't like being wrapped in it: every time an input is focused, it blurs immediately. I spotted this issue on the @react-native-community/viewpager repo: https://github.com/react-native-community/react-native-viewpager/issues/155 but no real answer

[2020-08-30 14:20] badaz commented on #1070
Well, I found out that I do not need to wrap my all app in KeyboardAvoidingView, so I can work out a solution to not wrap the ScrollableTabView either. Anyway, here is my fork using viewpager for ios and android if you want to give it a try. https://github.com/badaz/react-native-scrollable-tab-view?organization=badaz&organization=badaz

[2020-09-02 06:31] ptomasroos commented on #1070
Feel free to send a pr @badaz if it makes sense to update to the view

[2020-09-02 10:22] badaz commented on #1070
I won't have the the time to do it before going on holidays but I'll definitely send one afterwards if it has not been taken care of when I return

[2020-09-03 14:18] braianj commented on #1045
+1
Any solution?

[2020-09-08 18:24] lukewlms opened #1116 "[Solution] Using with react-native-testing-library: "Unable to find node on an unmounted component.""
I keep running into this issue when attempting to test this component, and I'm just sharing my solution here as I don't have time to create a minimal repro repository.

This repros on latest (1.0.0).

I'm attempting to test Apollo Client which requires adding a 0-duration timeout promise to tick over and actually run the query, before testing the "loaded" version of the component.

The error is:

[2020-09-09 07:53] vishaldhanotiya commented on #648
I have face same issue.
Resolved this by import `TouchableOpacity` from `react-native-gesture-handler` instead of `react-native.`

Replace this

`import {TouchableOpacity } from 'react-native'`

From this

`import {TouchableOpacity } from 'react-native-gesture-handler'`

[2020-09-14 02:41] qudianapp opened #1117 "ReferenceError: Can't find variable: ReactNative"
terminal logs:

![image](https://user-images.githubusercontent.com/44628057/93038145-c92d8980-f676-11ea-99bc-920c8f8f96a4.png)

[code]

[2020-09-14 11:43] karanasthana commented on #1056
Hey guys!
Any updates on this?

[2020-09-14 15:04] adamski commented on #1046
I am also seeing this. Using version 1.0.0 on Android 10

[2020-09-18 23:48] Ashalbulk commented on #847
why do you close this one?

[2020-09-25 19:49] kvlknctk commented on #1099
i have the same problem

[2020-09-27 06:58] xclidongbo commented on #1113
@lexguy 解决了吗?

[2020-09-29 09:04] xiaoketeng opened #1118 "本组件和react-native-snap-carousel组件使用的时候，安卓手机上，手势波动轮播图，会触发该组件切换菜单"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-09-30 05:41] Emirhanfyz opened #1119 "Can't scroll content of ScrollableTabView with ScrollView"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-10-01 19:55] badaz commented on #1070
Ok, I'm trying to write a PR, but the deps of the lib are so old, it's such a pain to make the examples work. For one, on Android, the oldest version of @react-native-community/viewpager (1.0) uses react-native ^0.57.0. In the Example, you're using RN  0.48.4, which is quite old already, and the lib itself requires react-native >= 0.20 !! (I'm pretty sure nobody uses it anymore, or else it is time

[2020-10-01 21:55] ptomasroos commented on #1070
I can definitely agree that no one is using rn 0.20. The reason why it hasn’t been updated is just because I’m currently not working with react native at this moment.

Hence spending less time evolving the library and time to upgrade the examples to latest versions.

Sorry for that! But I do not mind at all if you were to send a pr containing a update to modern versions. It would highly be appropr

[2020-10-04 08:50] doanbh opened #1120 "Child view inside show blank."
In child View of ScrollableTabView, If I don't provide a const height. It display a blank page. And if I set a height for this view, it work normal. But this view has multi view inside, I don't know height correct of it. Can you help me.

[2020-10-09 03:31] DoubanQiu opened #1122 "关于底部边框的样式需要增加一些属性支持"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-10-10 10:49] zhuiye commented on #1111
兄弟，请看下面的链接，照着里面改 库里的 AnimatedViewPagerAndroid 就可以了
https://github.com/react-native-community/react-native-viewpager/issues/73#issuecomment-562950417

[2020-10-10 10:52] zhuiye commented on #1118
照着下面的链接,尝试下修改 AnimatedViewPagerAndroid
https://github.com/react-native-community/react-native-viewpager/issues/73#issuecomment-562950417

[2020-10-12 08:43] vobear commented on #1112
<ScrollableTabView
          ref={(c) => {
            this.tabView = c;
          }}
          renderTabBar={() => (
            <CustomTabBar
              tabs={labelList}
            />
          )}  //自定义的tab

          {labelList.map((item, index) => {
            return (
              <View>
              item
              </View>
            );
          })}
        </ScrollableTabView>

[2020-10-15 07:29] hejun041 commented on #724
but you cant scroll horizontal

[2020-10-15 10:54] lexoops commented on #1056
it's work for me.
keep dependencies ,just add
  "resolutions": {
    "@react-native-community/viewpager": "^4.1.0"
  },
to root dir in package.json

[2020-10-19 05:29] LudoLamerre commented on #880
Is there a solution for this issue ?

[2020-10-19 12:32] xiaoketeng opened #1123 "安卓环境，改变菜单renderTabBar里面的数据，内容就不显示"
- [ ] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [ ] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

## Steps to Reproduce

## Expected Behavior

## Actual Behavior

[2020-10-19 12:46] xiaoketeng commented on #1123
"react-native": "0.63.2",
"react-native-scrollable-tab-view": "^1.0.0",

部门代码`<ScrollableTabView
              locked={isLocked}
              onChangeTab={(obj) => menuTab(obj)}
              ref={item => setTabViewRef(item)}
              tabBarPosition='top' //位于屏幕的位置，top顶部  bottom底部  overlayTop顶部，悬浮在内容视图之上 overlayBottom底部，悬浮在内容视图之上
              renderTabBar={() => <ScrollableTabBar onAddBtn={

[2020-10-25 14:17] Khalisoft commented on #1117
Same problem here

[2020-10-28 22:15] nabilfreeman commented on #1117
Got this on Android only after upgrading from RN 0.61 to RN 0.63

[2020-10-29 09:05] kevin2y opened #1125 "Unable to resolve module `../../js/react-native-community/viewpager`"
- [+] I have searched [existing issues](https://github.com/happypancake/react-native-scrollable-tab-view/issues)
- [+] I am using the [latest scrollable tab view version](https://www.npmjs.com/package/react-native-scrollable-tab-view)

I create new react-native app and add react-native-scrollable-tab-view

yarn add react-native-scrollable-tab-view

I had receive an error when run a simple example

[2020-10-30 02:31] hu-qi commented on #1069
```yarn add @react-native-community/viewpager```
it worked for me.
"@react-native-community/viewpager": "^4.2.0",

![image](https://user-images.githubusercontent.com/17986122/97653164-1a64d180-1a9b-11eb-839a-266c6b1d56de.png)

[2020-10-30 03:30] kevin2y commented on #1125
it's my fault. I once had change "@" to my src fold "js" in one project with file '.babelrc'. and then all project has problem before reboot this computer.

[2020-10-30 03:31] #1125 closed

[2020-10-30 03:33] kevin2y commented on #1125
delete "rootPathPrefix" about "@" in file ".babelrc", and reboot your computer.

[2020-11-02 08:35] zyslife commented on #1027
You can try the [react-native-head-tab-view](https://github.com/zyslife/react-native-head-tab-view).
(tabs with collapsible header)

[2020-11-02 08:38] zyslife commented on #1119
You can try the [react-native-head-tab-view.](https://github.com/zyslife/react-native-head-tab-view)
(tabs with collapsible header)

[2020-11-02 08:58] zyslife commented on #1011
You can try the [react-native-head-tab-view.](https://github.com/zyslife/react-native-head-tab-view)
(tabs with collapsible header)

[2020-11-02 08:58] zyslife commented on #623
You can try the [react-native-head-tab-view.](https://github.com/zyslife/react-native-head-tab-view)
(tabs with collapsible header)

[2020-11-02 08:59] zyslife commented on #1089
You can try the [react-native-head-tab-view.](https://github.com/zyslife/react-native-head-tab-view)
(tabs with collapsible header)

[2020-11-02 14:58] saeedaallshore commented on #1115
This library doesn't work even without prerenderingSiblingsNumber. I updated my React Native version, it causes jerk and stuttering.

[2020-11-04 12:50] saeedaallshore opened #1126 "Issue related to ScrollableTabBar"
Hi!

Previously I was using a fork of this library. But after I updated my React Native version to 0.62, I had to replace that fork with this library because the former was not compatible with new RN versions.

So, as far as this library is concerned, ScrollableTabBar works fine on iOS but on Android, the transition lags and there's slight stuttering. One approach would be to remove this library e